Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict, --no-implicit-optional]
        additional_dependencies: [types-all]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0
    hooks:
      - id: pylint
        args: [--rcfile=pyproject.toml, --fail-under=7.5]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: [-r, src/, -ll]

  - repo: local
    hooks:
      - id: pytest-smoke-tests
        name: pytest smoke tests
        entry: bash -c 'pytest -m "not validation" --tb=short -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: coverage-check
        name: coverage must be â‰¥85%
        entry: bash -c 'pytest --cov=src/bnsyn --cov-fail-under=85 -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: pydocstyle
        name: check docstrings
        entry: pydocstyle src/bnsyn
        language: python
        additional_dependencies: [pydocstyle]
        types: [python]

      - id: no-pdb
        name: prevent pdb
        entry: bash -c 'grep -r "import pdb" src/ && exit 1 || exit 0'
        language: system
        pass_filenames: false

      - id: validate-pyproject
        name: validate pyproject.toml
        entry: validate-pyproject
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [validate-pyproject]


      - id: regenerate-inventory
        name: regenerate inventory snapshot
        entry: python tools/generate_inventory.py
        language: system
        pass_filenames: false
        files: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
        stages: [commit]

      - id: regenerate-repo-manifest
        name: regenerate repository manifest artifacts
        entry: python -m tools.manifest generate
        language: system
        pass_filenames: false
        files: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
        stages: [commit]
      - id: validate-bibliography
        name: validate bibliography
        entry: python -m scripts.validate_bibliography
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-claims
        name: validate claims
        entry: python -m scripts.validate_claims
        language: system
        pass_filenames: false
        stages: [commit]

Sync Tri-Fix I3 gate invariant with venv TEST_CMD contract
  scripts/validate_trifix_invariants.py
Due: pydocstyle, regenerate-repo-manifest

Update README.md
  README.md
Due: regenerate-repo-manifest

Add wheel smoke step for demo-product product path
  .github/workflows/ci-pr-atomic.yml
  README.md
  pyproject.toml
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/paths.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/evaluate.py
  src/bnsyn/resources/ci/envelope_spec.json
  src/bnsyn/resources/ci/statistical_power_config.json
  src/bnsyn/resources/ci/validation_gates.json
  src/bnsyn/resources/configs/canonical_profile.yaml
  src/bnsyn/resources/schemas/avalanche-fit-report.schema.json
  src/bnsyn/resources/schemas/avalanche-report.schema.json
  src/bnsyn/resources/schemas/envelope-report.schema.json
  src/bnsyn/resources/schemas/phase-space-report.schema.json
  src/bnsyn/resources/schemas/proof-report.schema.json
  src/bnsyn/resources/schemas/robustness-report.schema.json
  src/bnsyn/resources/schemas/run-manifest.schema.json
  src/bnsyn/viz/product_report.py
  tests/test_cli_plot_contract.py
  tests/test_paths_runtime_resources.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Add focused tests for runtime refinement gates
  .github/workflows/ci-pr-atomic.yml
  README.md
  ci/agent_x_lab_bundle_audit_prompt.md
  docs/CANONICAL_PROOF.md
  proof_bundle/logs/mypy.log
  pyproject.toml
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/paths.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  src/bnsyn/resources/ci/envelope_spec.json
  src/bnsyn/resources/ci/statistical_power_config.json
  src/bnsyn/resources/ci/validation_gates.json
  src/bnsyn/resources/configs/canonical_profile.yaml
  src/bnsyn/resources/schemas/avalanche-fit-report.schema.json
  src/bnsyn/resources/schemas/avalanche-report.schema.json
  src/bnsyn/resources/schemas/envelope-report.schema.json
  src/bnsyn/resources/schemas/phase-space-report.schema.json
  src/bnsyn/resources/schemas/proof-report.schema.json
  src/bnsyn/resources/schemas/robustness-report.schema.json
  src/bnsyn/resources/schemas/run-manifest.schema.json
  src/bnsyn/viz/product_report.py
  tests/test_cli_bootstrap_compat.py
  tests/test_cli_plot_contract.py
  tests/test_paths_runtime_resources.py
  tests/test_product_report_runtime.py
  tests/test_proof_contracts_and_edges.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Regenerate repository and inventory manifests
  .github/REPO_MANIFEST.md
  INVENTORY.json
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Adjust coverage gate baseline to current CI line-rate
  quality/coverage_gate.json
Due: regenerate-repo-manifest

Regenerate repo manifest after coverage baseline update
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Implement deterministic AOC v1.0 runtime package
  README.md
  docs/ARCHITECTURE.md
  docs/EVIDENCE_CONTRACT.md
  examples/basic_task.yaml
  pyproject.toml
  src/aoc/__init__.py
  src/aoc/audit.py
  src/aoc/cli.py
  src/aoc/contracts.py
  src/aoc/controller.py
  src/aoc/delta.py
  src/aoc/evidence.py
  src/aoc/modulator.py
  src/aoc/sigma.py
  src/aoc/state.py
  src/aoc/termination.py
  src/aoc/zeropoint.py
  tests/test_audit_trace.py
  tests/test_contracts.py
  tests/test_controller_e2e.py
  tests/test_delta.py
  tests/test_sigma.py
  tests/test_termination.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Harden AOC runtime contracts, evidence, and fail-closed behavior
  docs/ARCHITECTURE.md
  docs/EVIDENCE_CONTRACT.md
  examples/basic_task.yaml
  src/aoc/audit.py
  src/aoc/contracts.py
  src/aoc/controller.py
  src/aoc/delta.py
  src/aoc/evidence.py
  src/aoc/modulator.py
  src/aoc/state.py
  src/aoc/zeropoint.py
  tests/test_audit_trace.py
  tests/test_cli.py
  tests/test_contracts.py
  tests/test_delta.py
  tests/test_evidence.py
  tests/test_termination.py
Due: pydocstyle, regenerate-inventory

Rebuild AOC v1.0 deterministic markdown controller runtime
  README.md
  docs/ARCHITECTURE.md
  docs/EVIDENCE_CONTRACT.md
  examples/basic_task.yaml
  src/aoc/__init__.py
  src/aoc/audit.py
  src/aoc/cli.py
  src/aoc/contracts.py
  src/aoc/controller.py
  src/aoc/delta.py
  src/aoc/evidence.py
  src/aoc/generator.py
  src/aoc/modulator.py
  src/aoc/sigma.py
  src/aoc/state.py
  src/aoc/termination.py
  src/aoc/zeropoint.py
  tests/test_audit_trace.py
  tests/test_cli.py
  tests/test_contracts.py
  tests/test_controller_e2e.py
  tests/test_delta.py
  tests/test_evidence.py
  tests/test_sigma.py
  tests/test_termination.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix AOC review regressions for termination and contract validation
  src/aoc/contracts.py
  src/aoc/termination.py
  tests/test_audit_trace.py
  tests/test_contracts.py
  tests/test_termination.py
Due: pydocstyle, regenerate-inventory

Fix governed-docs normative tags in AOC architecture notes
  docs/ARCHITECTURE.md
Due: regenerate-inventory

Register AOC normative claim IDs for architecture tags
  claims/claims.yml
Due: none

Fix CI gate regressions: inventory, typing/ruff, and dependency audit prep
  INVENTORY.json
  scripts/ci_gate_runner.py
  src/aoc/cli.py
  src/aoc/controller.py
  src/aoc/zeropoint.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix bibliography SSOT for AOC normative claims
  bibliography/bnsyn.bib
  bibliography/mapping.yml
  bibliography/sources.lock
Due: none

Fix AOC merge blockers: CLI fail-closed exit and citation cleanup
  bibliography/bnsyn.bib
  bibliography/mapping.yml
  bibliography/sources.lock
  claims/claims.yml
  docs/ARCHITECTURE.md
  src/aoc/cli.py
  tests/test_cli.py
  tests/test_evidence.py
Due: pydocstyle, regenerate-inventory

Treat AOC package as local in dependency-import validator
  scripts/validate_deps_against_imports.py
Due: pydocstyle, regenerate-repo-manifest

Harden SSOT validator workflow checks and mode invariants
  .github/workflows/canonical-proof-spine.yml
  .github/workflows/ci-pr-atomic.yml
  Makefile
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/TESTING.md
  scripts/validate_canonical_proof_contract.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  src/bnsyn/resources/ci/canonical_proof_contract.json
  src/bnsyn/resources/ci/validation_gates.json
  tests/test_canonical_proof_contract_ssot.py
  tests/test_m0_bootstrap_contracts.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Close SSOT blockers for pip logging and semantic wiring checks
  .github/workflows/ci-pr-atomic.yml
  scripts/validate_canonical_proof_contract.py
  src/bnsyn/proof/contracts.py
  tests/test_canonical_proof_contract_ssot.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Bootstrap validate-proof-contract via shared env readiness
  Makefile
Due: regenerate-repo-manifest

Regenerate inventory to satisfy inventory-check gate
  INVENTORY.json
Due: regenerate-inventory

Increase proof contract loader coverage with fail-closed tests
  tests/test_proof_contracts_and_edges.py
Due: pydocstyle, regenerate-inventory

Regenerate repository manifest fingerprint artifacts
  .github/REPO_MANIFEST.md
  .github/workflows/canonical-proof-spine.yml
  .github/workflows/ci-pr-atomic.yml
  INVENTORY.json
  Makefile
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/TESTING.md
  manifest/repo_manifest.computed.json
  scripts/validate_canonical_proof_contract.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  src/bnsyn/resources/ci/canonical_proof_contract.json
  src/bnsyn/resources/ci/validation_gates.json
  tests/test_canonical_proof_contract_ssot.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_contracts_and_edges.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Regenerate repository manifest fingerprint artifacts
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Stabilize wheel smoke test CLI invocation in venv
  .github/REPO_MANIFEST.md
  .github/workflows/canonical-proof-spine.yml
  .github/workflows/ci-pr-atomic.yml
  INVENTORY.json
  Makefile
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/TESTING.md
  manifest/repo_manifest.computed.json
  scripts/validate_canonical_proof_contract.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  src/bnsyn/resources/ci/canonical_proof_contract.json
  src/bnsyn/resources/ci/validation_gates.json
  tests/test_canonical_proof_contract_ssot.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_contracts_and_edges.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Revert "Implement deterministic AOC v1.0 runtime package with CLI, evidence, and tests"
  INVENTORY.json
  README.md
  bibliography/bnsyn.bib
  docs/ARCHITECTURE.md
  docs/EVIDENCE_CONTRACT.md
  examples/basic_task.yaml
  pyproject.toml
  scripts/ci_gate_runner.py
  scripts/validate_deps_against_imports.py
  src/aoc/__init__.py
  src/aoc/audit.py
  src/aoc/cli.py
  src/aoc/contracts.py
  src/aoc/controller.py
  src/aoc/delta.py
  src/aoc/evidence.py
  src/aoc/generator.py
  src/aoc/modulator.py
  src/aoc/sigma.py
  src/aoc/state.py
  src/aoc/termination.py
  src/aoc/zeropoint.py
  tests/test_audit_trace.py
  tests/test_cli.py
  tests/test_contracts.py
  tests/test_controller_e2e.py
  tests/test_delta.py
  tests/test_evidence.py
  tests/test_sigma.py
  tests/test_termination.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

docs: BN-Syn positioning — wind tunnel for emergence in AI
  README.md
Due: regenerate-repo-manifest

docs: add BN-Syn emergence laboratory vision
  docs/VISION.md
Due: regenerate-inventory

docs: add BN-Syn research thesis
  docs/THESIS.md
Due: regenerate-inventory

docs: add experiments roadmap
  docs/EXPERIMENTS.md
Due: regenerate-inventory

docs: add BN-Syn research roadmap
  docs/ROADMAP.md
Due: regenerate-inventory

docs: add Ukrainian explanation of emergent dynamics to README
  README.md
Due: regenerate-repo-manifest

Trim GitHub automation costs by removing cron schedules
  .github/dependabot.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-benchmarks-elite.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-validation.yml
  .github/workflows/codecov-health.yml
  .github/workflows/codeql.yml
  .github/workflows/context_compressor_gate.yml
  .github/workflows/dependency-watch.yml
  .github/workflows/docs.yml
  .github/workflows/dsio_gate.yml
  .github/workflows/formal-coq.yml
  .github/workflows/formal-tla.yml
  .github/workflows/launch-gate.yml
  .github/workflows/perfection-gate.yml
  .github/workflows/physics-equivalence.yml
  .github/workflows/quality-mutation.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/repo-governor-evidence.yml
  .github/workflows/science.yml
  .github/workflows/smlrs_gate.yml
  .github/workflows/sse-sdo-fhe-gate.yml
  .github/workflows/sse-sdo-max-gate.yml
  tests_inventory.json
Due: regenerate-inventory, regenerate-repo-manifest

Add canonical review cycle to product report
  .github/BRANCH_PROTECTION_GOVERNANCE.md
  .github/PR_GATES.yml
  .github/REQUIRED_STATUS_CONTEXTS.yml
  .github/workflows/canonical-proof-spine.yml
  CHANGELOG.md
  Dockerfile
  INVENTORY.json
  Makefile
  README.md
  docs/CANONICAL_PROOF.md
  docs/GENESIS_RUN_PLAN.md
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  pyproject.toml
  scripts/bootstrap.sh
  scripts/build_agent_feedback.py
  scripts/check_canonical_phase_gates.py
  scripts/check_quickstart_consistency.py
  scripts/compare_canonical_runs.py
  scripts/synthesize_canonical_remediation.py
  scripts/validate_quickstart_contract.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/viz/product_report.py
  tests/test_bootstrap_contract.py
  tests/test_build_agent_feedback.py
  tests/test_check_canonical_phase_gates.py
  tests/test_compare_canonical_runs.py
  tests/test_product_report_runtime.py
  tests/test_quickstart_contract_validator.py
  tests/test_readme_quickstart_contract.py
  tests/test_release_pipeline.py
  tests/test_synthesize_canonical_remediation.py
  tests_inventory.json
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Document crystallizer integration map
  docs/emergence_tracking.md
  src/bnsyn/emergence/crystallizer.py
  tests/test_crystallizer_edge_cases.py
Due: pydocstyle, regenerate-inventory

Refresh repository inventory counts
  INVENTORY.json
Due: regenerate-inventory

Formalize demo review procedure
  README.md
  docs/CANONICAL_PROOF.md
  docs/DEMO.md
  docs/DEMO_REVIEW.md
  docs/demo_review_contract.json
  schemas/product-summary.schema.json
  src/bnsyn/cli.py
  src/bnsyn/presentation/__init__.py
  src/bnsyn/presentation/terminal.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/resources/schemas/product-summary.schema.json
  src/bnsyn/viz/product_report.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_demo_review_contract.py
  tests/test_demo_surface_docs_contract.py
  tests/test_product_report_runtime.py
  tests/test_proof_evaluation.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Add execution-backed readiness contract
  docs/RELEASE_READINESS.md
  docs/STATUS.md
  scripts/release_readiness.py
  src/bnsyn/qa/__init__.py
  src/bnsyn/qa/readiness_contract.py
  tests/test_release_readiness.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest
