Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict, --no-implicit-optional]
        additional_dependencies: [types-all]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0
    hooks:
      - id: pylint
        args: [--fail-under=9.0]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/, -ll]

  - repo: local
    hooks:
      - id: pytest-smoke-tests
        name: pytest smoke tests
        entry: bash -c 'pytest -m "not validation" --tb=short -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: coverage-check
        name: coverage must be â‰¥85%
        entry: bash -c 'pytest --cov=src/bnsyn --cov-fail-under=85 -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: pydocstyle
        name: check docstrings
        entry: pydocstyle src/bnsyn
        language: python
        additional_dependencies: [pydocstyle]
        types: [python]

      - id: no-pdb
        name: prevent pdb
        entry: bash -c 'grep -r "import pdb" src/ && exit 1 || exit 0'
        language: system
        pass_filenames: false

      - id: validate-pyproject
        name: validate pyproject.toml
        entry: validate-pyproject
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [validate-pyproject]

      - id: validate-bibliography
        name: validate bibliography
        entry: python scripts/validate_bibliography.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-claims
        name: validate claims
        entry: python scripts/validate_claims.py
        language: system
        pass_filenames: false
        stages: [commit]

Harden validator YAML schema checks and add regression tests
  scripts/validate_pr_gates.py
  scripts/validate_required_checks.py
  scripts/validate_required_status_contexts.py
  scripts/validate_workflow_contracts.py
  scripts/yaml_contracts.py
  tests/test_sync_required_status_contexts.py
  tests/test_validate_pr_gates.py
  tests/test_validate_required_checks.py
  tests/test_validate_workflow_contracts.py
Due: pydocstyle

Regenerate inventory artifacts and proof index for CI consistency
  INVENTORY.json
  proof_bundle/index.json
  tests_inventory.json
Due: none

Harden placeholder scanner raise detection and script kind
  scripts/scan_placeholders.py
  tests/test_scan_placeholders.py
Due: pydocstyle

Strengthen placeholder scanner variant detection coverage
  scripts/scan_placeholders.py
  tests/test_scan_placeholders.py
Due: pydocstyle

docs: rebuild README as repo-aligned project landing page
  README.md
Due: none

docs: restore high-signal README sections with repo-true commands
  README.md
Due: none

Rewrite README landing page and add quickstart contract coverage
  README.md
  proof_bundle/logs/01_make_dev-setup.log
  proof_bundle/logs/02_make_quickstart-smoke.log
  proof_bundle/logs/03_make_test.log
  proof_bundle/logs/04_make_check.log
  proof_bundle/logs/04b_make_check_after_gitleaks.log
  proof_bundle/logs/05_make_docs.log
  proof_bundle/logs/06_pytest_not_validation_vv.log
  proof_bundle/logs/07_make_quickstart-smoke_post_changes.log
  proof_bundle/logs/08_make_test_post_changes.log
  proof_bundle/logs/09_make_check_post_changes.log
  proof_bundle/logs/10_make_docs_post_changes.log
  proof_bundle/logs/11_pytest_readme_contract.log
  scripts/check_quickstart_consistency.py
  tests/test_readme_quickstart_contract.py
Due: pydocstyle

Fix README status link and refresh inventory for CI checks
  INVENTORY.json
  README.md
  proof_bundle/logs/12_validate_status_claims_before_fix.log
  proof_bundle/logs/13_inventory_check_before_fix.log
  proof_bundle/logs/14_generate_inventory_after_fix.log
  proof_bundle/logs/15_validate_status_claims_after_fix.log
  proof_bundle/logs/16_inventory_check_after_fix.log
  proof_bundle/logs/17_make_test_after_status_inventory_fix.log
  proof_bundle/logs/18_pip_install_dev_test_after_env_error.log
  proof_bundle/logs/19_make_test_after_dependency_install.log
  tests_inventory.json
Due: none

Add production baseline gates, contracts, and ops runbooks
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/perf-budgets.yml
  .github/workflows/release-readiness.yml
  benchmarks/perf_smoke.py
  contracts/cli_contract.v1.json
  docs/API_STABILITY.md
  docs/RELEASE_POLICY.md
  docs/contracts/CLI_CONTRACT.md
  docs/ops/SLA_SLO.md
  docs/ops/runbooks/RUNBOOK_dependency_vuln.md
  docs/ops/runbooks/RUNBOOK_determinism_regression.md
  docs/ops/runbooks/RUNBOOK_perf_regression.md
  docs/ops/runbooks/RUNBOOK_release_failure.md
  proof_bundle/logs/agent_commands.log
  quality/perf_baseline.json
  quality/perf_budgets.yml
  quality/public_api_snapshot.json
  schemas/manifest.schema.json
  schemas/sleep_stack_metrics.schema.json
  scripts/check_perf_budget.py
  scripts/check_public_api_compat.py
  scripts/release_readiness_report.py
  scripts/run_perf_smoke.py
  scripts/snapshot_public_api.py
  scripts/validate_ops_slo.py
  scripts/validate_runbooks.py
  tests/contracts/test_artifact_schemas.py
  tests/contracts/test_cli_contract.py
  tests/test_ops_validators.py
  tests/test_perf_budget_gate.py
  tests/test_public_api_compat_gate.py
  tests/test_release_readiness_report.py
Due: pydocstyle

Fix SSOT manifest drift and workflow policy contract failures
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/perf-budgets.yml
  .github/workflows/release-readiness.yml
  manifest/repo_manifest.computed.json
  proof_bundle/logs/agent_commands.log
  scripts/run_perf_smoke.py
Due: pydocstyle

Regenerate inventory artifacts to satisfy integrity gate
  INVENTORY.json
  proof_bundle/logs/agent_commands.log
  tests_inventory.json
Due: none

Harden reusable pytest coverage artifact handling
  .github/workflows/_reusable_pytest.yml
  proof_bundle/logs/agent_commands.log
Due: none

Stabilize reusable pytest artifact handling and add workflow guard tests
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  proof_bundle/logs/agent_commands.log
  tests/test_reusable_pytest_workflow_artifacts.py
  tests_inventory.json
Due: pydocstyle

Regenerate INVENTORY.json to fix workflow-integrity check
  INVENTORY.json
  proof_bundle/logs/agent_commands.log
Due: none

Fix coverage gate regression and refresh repository inventory
  INVENTORY.json
  proof_bundle/logs/check_coverage_gate_after_fix.log
  proof_bundle/logs/check_coverage_gate_before_fix.log
  proof_bundle/logs/generate_inventory_check_after.log
  proof_bundle/logs/generate_inventory_check_before.log
  proof_bundle/logs/generate_inventory_check_final.log
  proof_bundle/logs/generate_inventory_run.log
  proof_bundle/logs/git_log_recent.log
  proof_bundle/logs/git_status_before_stage_fix2.log
  proof_bundle/logs/git_status_staged_fix2.log
  proof_bundle/logs/git_status_start_fix.log
  proof_bundle/logs/mypy_after_fix.log
  proof_bundle/logs/pip_install_build_after_fix.log
  proof_bundle/logs/pip_install_dev_test_fix.log
  proof_bundle/logs/pip_install_pytest_cov.log
  proof_bundle/logs/pylint_after_fix.log
  proof_bundle/logs/pytest_cov_after_fix.log
  proof_bundle/logs/pytest_cov_not_validation.log
  proof_bundle/logs/pytest_not_validation_after_fix.log
  proof_bundle/logs/pytest_targeted_fix.log
  proof_bundle/logs/python_build_after_fix.log
  proof_bundle/logs/python_pytest_cov_not_validation.log
  proof_bundle/logs/rg_coverage_gate_usage.log
  proof_bundle/logs/ruff_check_after_fix.log
  tests/test_math_core_hardening.py
Due: pydocstyle

Add SSOT-governed documentation surfaces and traceability checks
  .github/pull_request_template.md
  Makefile
  README.md
  docs/API_STABILITY.md
  docs/ASSUMPTIONS.md
  docs/DETERMINISM.md
  docs/DOC_DEBT.md
  docs/ENFORCEMENT_MATRIX.md
  docs/INDEX.md
  docs/INPUTS.md
  docs/MAINTENANCE.md
  docs/PROJECT_SURFACES.md
  docs/RISKS.md
  docs/TRACEABILITY.md
  docs/VERSIONING.md
  proof_bundle/logs/session.log
  scripts/discover_public_surfaces.py
  scripts/validate_traceability.py
Due: pydocstyle

Fix status-claims README link and refresh inventory
  INVENTORY.json
  README.md
  proof_bundle/logs/session.log
Due: none

Add internal docs link validation and wire governance checks
  .github/pull_request_template.md
  .github/workflows/ci-pr-atomic.yml
  README.md
  docs/ENFORCEMENT_MATRIX.md
  docs/INDEX.md
  docs/MAINTENANCE.md
  docs/TRACEABILITY.md
  scripts/check_internal_links.py
  tests/test_check_internal_links.py
Due: pydocstyle

Regenerate manifests and inventory after governance checker changes
  .github/REPO_MANIFEST.md
  INVENTORY.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/agent2_build.log
  proof_bundle/logs/agent2_check_internal_links.log
  proof_bundle/logs/agent2_mypy.log
  proof_bundle/logs/agent2_pylint.log
  proof_bundle/logs/agent2_pytest_not_validation.log
  proof_bundle/logs/agent2_ruff_check.log
  proof_bundle/logs/agent2_validate_traceability.log
  proof_bundle/logs/agent_install_missing_tools.log
  proof_bundle/logs/agent_inventory_check.log
  proof_bundle/logs/agent_inventory_check_after.log
  proof_bundle/logs/agent_inventory_generate.log
  proof_bundle/logs/agent_manifest_diff.log
  proof_bundle/logs/agent_manifest_generate.log
  tests_inventory.json
Due: none

docs: harden landing page and architecture governance visuals
  README.md
  docs/ARCHITECTURE.md
  docs/INDEX.md
  docs/assets/hero.svg
  proof_bundle/logs/check_internal_links.log
  proof_bundle/logs/check_internal_links_script.log
  proof_bundle/logs/discover_public_surfaces_check.log
  proof_bundle/logs/discover_script.log
  proof_bundle/logs/doc_diff.log
  proof_bundle/logs/file_inventory.log
  proof_bundle/logs/git_commit.log
  proof_bundle/logs/git_remote.log
  proof_bundle/logs/git_status.log
  proof_bundle/logs/github_refs.log
  proof_bundle/logs/makefile.log
  proof_bundle/logs/repo_url_probe.log
  proof_bundle/logs/session.log
  proof_bundle/logs/target_docs_before.log
  proof_bundle/logs/validate_traceability.log
Due: none

docs: fix governed normative tag and refresh inventory
  INVENTORY.json
  README.md
  proof_bundle/logs/claims_excerpt.log
  proof_bundle/logs/claims_governance_excerpt.log
  proof_bundle/logs/claims_ids.log
  proof_bundle/logs/git_status_fix.log
  proof_bundle/logs/inventory_check.log
  proof_bundle/logs/inventory_generate.log
  proof_bundle/logs/inventory_head.log
  proof_bundle/logs/pip_install_pyyaml.log
  proof_bundle/logs/readme_status_block.log
  proof_bundle/logs/scan_governed_docs.log
  proof_bundle/logs/scan_governed_docs_script.log
  proof_bundle/logs/session.log
Due: none

Harden README and architecture docs with verified trust loop
  README.md
  docs/ARCHITECTURE.md
  docs/DOC_DEBT.md
  docs/INDEX.md
  docs/_inventory.md
  docs/assets/hero.svg
  proof_bundle/logs/session.log
Due: none

Regenerate INVENTORY.json after documentation changes
  INVENTORY.json
Due: none

Harden docs grounding and add mermaid/svg validators
  README.md
  docs/ARCHITECTURE.md
  docs/DOC_DEBT.md
  docs/INDEX.md
  docs/_inventory.md
  scripts/check_mermaid_syntax.py
  scripts/validate_svg.py
Due: pydocstyle

Fix governed docs normative tag in README status
  README.md
Due: none

Handle --help for validate_required_checks script
  scripts/validate_required_checks.py
  tests/test_validate_required_checks.py
Due: pydocstyle

Harden required checks validator CLI test coverage
  tests/test_validate_required_checks.py
Due: pydocstyle

Add test hardening execution evidence log
  proof_bundle/logs/agent.log
Due: none

chore(credibility): replace calibrated overclaim and add fail-closed validator
  .github/workflows/_reusable_pytest.yml
  .github/workflows/ci-pr-atomic.yml
  CALIBRATION_SUMMARY.md
  Makefile
  README.md
  docs/TESTING.md
  proof_bundle/logs/00_preflight.log
  proof_bundle/logs/01_branch.log
  proof_bundle/logs/02_baseline.log
  proof_bundle/logs/03_inspect.log
  proof_bundle/logs/03b_inspect_targets.log
  proof_bundle/logs/04_fake_tests_scan.log
  proof_bundle/logs/05_lock_update.log
  proof_bundle/logs/06_micro_validate_deps.log
  proof_bundle/logs/07_micro_validate_tests.log
  proof_bundle/logs/08_final_gates.log
  proof_bundle/logs/ci_pr_atomic_head_snippet.txt
  proof_bundle/logs/ci_pr_atomic_mid1_snippet.txt
  proof_bundle/logs/ci_pr_atomic_mid2_snippet.txt
  proof_bundle/logs/ci_pr_atomic_tail_snippet.txt
  pyproject.toml
  scripts/validate_calibration_summary.py
  tests/test_validate_calibration_summary.py
  tests/validation/test_verify_hypothesis_v2.py
  tests_inventory.json
Due: pydocstyle, validate-pyproject

fix(ci): resolve ssot/build parity and refresh inventory snapshot
  INVENTORY.json
  proof_bundle/logs/09_repair_round.log
  proof_bundle/logs/10_investigate_ci_failures.log
  proof_bundle/logs/11_fix_ci_failures.log
Due: none

fix(ci): skip dependency-review when dependency graph is unavailable
  .github/REPO_MANIFEST.md
  .github/workflows/dependency-review.yml
  manifest/repo_manifest.computed.json
  proof_bundle/logs/12_final_repair.log
Due: none

ci: enforce canonical gate and blocking integrity validators on PRs
  .github/workflows/ci-pr-atomic.yml
  docs/HYPOTHESIS.md
  pyproject.toml
  scripts/validate_changed_paths.py
  scripts/validate_deps_against_imports.py
  scripts/validate_docs_testing_sync.py
  scripts/validate_synthetic_claims.py
  scripts/validate_test_integrity.py
Due: pydocstyle, validate-pyproject

ci: sync lockfile and manifest artifacts for ssot/build gates
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  requirements-lock.txt
  scripts/validate_changed_paths.py
Due: pydocstyle

test/ci: harden marker-based property collection filtering
  .github/workflows/math-quality-gate.yml
  .pre-commit-config.yaml
  tests/conftest.py
Due: pydocstyle

fix: resolve manifest drift and deps-import validator failure
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  tests/conftest.py
Due: pydocstyle

ci: wire tri-fix validator into canonical PR workflow
  .github/workflows/ci-pr-atomic.yml
  scripts/validate_trifix_invariants.py
Due: pydocstyle

fix: harden trifix validator and refresh repo manifest
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  scripts/validate_trifix_invariants.py
Due: pydocstyle

docs: Quickstart SSOT sync
  Makefile
  README.md
Due: none

ci/docs: enforce quickstart contract SSOT
  .github/workflows/ci-pr-atomic.yml
  Makefile
  README.md
  scripts/run_quickstart_demo.py
  scripts/validate_quickstart_contract.py
Due: pydocstyle
