Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

regenerate-inventory:
  name: regenerate inventory snapshot
  entry: python tools/generate_inventory.py
  language: system
  pass_filenames: false
  stages:
  - commit

regenerate-repo-manifest:
  name: regenerate repository manifest artifacts
  entry: python -m tools.manifest generate
  language: system
  pass_filenames: false
  stages:
  - commit

Refresh production SBOM inventory
  artifacts/prod_ready/reports/sbom.cdx.json
Due: none

Fix gate contract drift and perfection workflow permissions
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/perfection-gate.yml
  INVENTORY.json
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Fix PR gate contract mismatch and SMLRS gate ordering
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/dsio_gate.yml
  .github/workflows/launch-gate.yml
  .github/workflows/perfection-gate.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/smlrs_gate.yml
  manifest/repo_manifest.computed.json
  scripts/smlrs_gate.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Add DE-SPG protocol prompt document
  PROMPT_DE_SPG.txt
  proof_bundle/logs/check_prompt_de_spg.log
  proof_bundle/logs/create_prompt_de_spg.log
  proof_bundle/logs/git_status_after_prompt.log
Due: none

Refine optional psutil handling for benchmark smoke
  benchmarks/benchmark_plasticity.py
  benchmarks/performance_utils.py
  proof_bundle/logs/mypy_strict.log
  proof_bundle/logs/pylint_src_bnsyn.log
  proof_bundle/logs/pytest_not_validation_or_property.log
  proof_bundle/logs/pytest_targeted.log
  proof_bundle/logs/python_build.log
  tests/test_pytest_collection_contract.py
Due: pydocstyle, regenerate-inventory

Refresh discovered public surfaces
  docs/PROJECT_SURFACES.md
Due: regenerate-inventory

Stabilize repo noise handling and refresh inventory
  .gitignore
  INVENTORY.json
  proof_bundle/logs/.gitkeep
Due: regenerate-inventory

Fix workflow governance contracts and test toolchain closure
  .github/PR_GATES.yml
  .github/REPO_MANIFEST.md
  .github/REQUIRED_CHECKS.yml
  .github/REQUIRED_STATUS_CONTEXTS.yml
  .github/WORKFLOW_CONTRACTS.md
  manifest/repo_manifest.computed.json
  pyproject.toml
Due: validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Add PR trigger contract test for ci-pr-atomic codeql-pr job
  tests/test_ci_pr_atomic_codeql_pr.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

Sync inventory and manifest SSOT for CI gate stability
  .github/REPO_MANIFEST.md
  INVENTORY.json
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
Due: regenerate-inventory, regenerate-repo-manifest

Sync branch protection governance with pr-gate required context
  .github/BRANCH_PROTECTION_GOVERNANCE.md
Due: regenerate-inventory, regenerate-repo-manifest

Regenerate repo and test inventories after CA-DCCG additions
  .github/REPO_MANIFEST.md
  INVENTORY.json
  manifest/repo_manifest.computed.json
  tests_inventory.json
Due: regenerate-inventory, regenerate-repo-manifest

Add SSE-SDO scaffold config and artifact baseline
  .github/sse_sdo.yml
  INVENTORY.json
  artifacts/sse_sdo/CONTRADICTIONS.json
  artifacts/sse_sdo/EVIDENCE_INDEX.md
  artifacts/sse_sdo/architecture/CONTRACTS.md
  artifacts/sse_sdo/architecture/FLAGS.md
  artifacts/sse_sdo/architecture/SSOT_DELTA.md
  artifacts/sse_sdo/architecture/SUBSYSTEM_BOUNDARY.md
  artifacts/sse_sdo/ci/DRIFT_REPORT.json
  artifacts/sse_sdo/ci/REQUIRED_CHECKS_MANIFEST.json
  artifacts/sse_sdo/logs/generate_inventory.log
  artifacts/sse_sdo/logs/pip_install_build.log
  artifacts/sse_sdo/logs/pytest_not_validation_property.log
  artifacts/sse_sdo/logs/pytest_sse_sdo_scaffold.log
  artifacts/sse_sdo/logs/ruff_sse_sdo_scaffold.log
  artifacts/sse_sdo/meta/ENV_SNAPSHOT.json
  artifacts/sse_sdo/meta/REPO_FINGERPRINT.json
  artifacts/sse_sdo/meta/RUN_MANIFEST.json
  artifacts/sse_sdo/perf/PERF_REPORT.md
  artifacts/sse_sdo/quality.json
  artifacts/sse_sdo/tests/CONTRACT_TEST_MAP.json
  artifacts/sse_sdo/tests/TEST_PLAN.md
  tests/test_sse_sdo_scaffold.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix PR gate regressions from SSE workflow additions
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/sse-sdo-fhe-gate.yml
  .github/workflows/sse-sdo-max-gate.yml
  .github/workflows/workflow-integrity.yml
  INVENTORY.json
  artifacts/sse_sdo/00_meta/REPO_FINGERPRINT.json
  artifacts/sse_sdo/00_meta/RUN_MANIFEST.json
  artifacts/sse_sdo/01_scope/DEP_GRAPH.json
  artifacts/sse_sdo/01_scope/INTERFACE_REGISTRY.json
  artifacts/sse_sdo/02_contracts/CONTRACT_TEST_MAP.json
  artifacts/sse_sdo/07_quality/EVIDENCE_INDEX.md
  artifacts/sse_sdo/07_quality/quality.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/manifest_generate.log
  proof_bundle/logs/pip_install_hypothesis.log
  proof_bundle/logs/pytest_not_validation_property.log
  proof_bundle/logs/pytest_sse_fhe_contracts.log
  proof_bundle/logs/python_build.log
  proof_bundle/logs/validate_long_running_triggers.log
  scripts/sse_gate_runner.py
  scripts/sse_inventory.py
  tests/test_policy_schema_contract.py
  tests/test_policy_to_execution_contract.py
  tests/test_sse_policy_schema_contract.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Align SSE long-running triggers with workflow contracts
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/sse-sdo-fhe-gate.yml
  .github/workflows/sse-sdo-max-gate.yml
  INVENTORY.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/manifest_generate.log
Due: regenerate-inventory, regenerate-repo-manifest

Replace PMCO bundle with GHTPO proof artifacts
  artifacts/ghtpo/EVIDENCE_INDEX.md
  artifacts/ghtpo/diffs/working_tree.patch
  artifacts/ghtpo/gaps/DRIFT_REPORT.json
  artifacts/ghtpo/gaps/GAP_ANALYSIS.json
  artifacts/ghtpo/gates/GATES.json
  artifacts/ghtpo/gates/REQUIRED_CHECKS.json
  artifacts/ghtpo/inventory/ACTION_INVENTORY.json
  artifacts/ghtpo/inventory/INSTRUMENT_INVENTORY.json
  artifacts/ghtpo/inventory/WORKFLOW_INVENTORY.json
  artifacts/ghtpo/logs/G00.log
  artifacts/ghtpo/logs/G11.log
  artifacts/ghtpo/logs/G12.log
  artifacts/ghtpo/logs/G12B.log
  artifacts/ghtpo/logs/G14.log
  artifacts/ghtpo/logs/G15.log
  artifacts/ghtpo/logs/G17.log
  artifacts/ghtpo/meta/CONFIG.json
  artifacts/ghtpo/meta/ECOSYSTEM.json
  artifacts/ghtpo/meta/REPO_ID.json
  artifacts/ghtpo/meta/RUN_MANIFEST.json
  artifacts/ghtpo/quality.json
  tests/test_ci_policy_contract.py
Due: pydocstyle, regenerate-inventory

Implement GHTPO phase-0 control plane and PR gate
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ghtpo.yaml
  .github/workflows/ghtpo-pr.yml
  INVENTORY.json
  artifacts/ghtpo/quality.json
  scripts/ghtpo/__init__.py
  scripts/ghtpo/docs_sync.py
  scripts/ghtpo/gate_runner.py
  scripts/ghtpo/policy_load.py
  scripts/ghtpo/proof.py
  scripts/ghtpo/required_checks.py
  tests/test_ghtpo_phase0_presence.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

docs: add readiness inventory risk triage and PR plan
  docs/PR_READINESS_ORCHESTRATION_2026-02-19.md
  proof_bundle/inventory_2026-02-19.json
Due: regenerate-inventory

test: standardize taxonomy targets and fix deterministic inventory drift
  .github/workflows/ci-pr-atomic.yml
  INVENTORY.json
  Makefile
  README.md
  docs/PR_READINESS_ORCHESTRATION_2026-02-19.md
  docs/TESTING.md
  pyproject.toml
  tests/test_e2e_cli_smoke.py
  tests_inventory.json
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

docs: canonicalize onboarding funnel and add reproduce proof targets
  INVENTORY.json
  Makefile
  README.md
  docs/START_HERE.md
  docs/proof/ENVIRONMENT.md
  docs/proof/REPRODUCE.md
  docs/proof/repro_spec.json
  scripts/write_reproduce_manifest.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

ci: restore canonical gate SSOT and fix test-integrity sync
  .github/workflows/ci-pr-atomic.yml
  Makefile
  README.md
Due: regenerate-inventory, regenerate-repo-manifest

docs: fix governed normative tag and quickstart contract heading
  README.md
Due: regenerate-repo-manifest

ci/docs: fix status-claims link and artifact upload permission
  .github/workflows/scientific_product_gate.yml
  README.md
Due: regenerate-inventory, regenerate-repo-manifest

ci: sync repo manifest and harden scientific artifact upload
  .github/REPO_MANIFEST.md
  .github/workflows/scientific_product_gate.yml
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Harden security gates with deterministic audit and SBOM artifacts
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/dependency-watch.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  SECURITY.md
  docs/START_HERE.md
Due: regenerate-inventory, regenerate-repo-manifest

Fix security workflow determinism and entropy-gate compliance
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/dependency-watch.yml
  Makefile
Due: regenerate-inventory, regenerate-repo-manifest

Regenerate repository manifest fingerprint
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Finalize security PR evidence and docs alignment
  CONTRIBUTING.md
  Makefile
  SECURITY.md
  docs/START_HERE.md
  requirements-sbom-lock.txt
Due: regenerate-inventory, regenerate-repo-manifest

Fix SBOM lockfile to include cyclonedx runtime dependency
  requirements-sbom-lock.txt
Due: none

Bootstrap repo-governor protocol and evidence artifacts
  .github/workflows/repo-governor-evidence.yml
  .repo-governor/inventory.json
  .repo-governor/protocol.yml
  INVENTORY.json
  Makefile
  proof_bundle/logs/agent.log
  scripts/compute_flake_report.py
  scripts/write_evidence_manifest.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix workflow-governance contracts and non-PR evidence trigger
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/repo-governor-evidence.yml
  INVENTORY.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/agent.log
Due: regenerate-inventory, regenerate-repo-manifest

fix(governance): align required checks with new evidence workflow
  .github/workflows/repo-governor-evidence.yml
  Makefile
  tools/dev/scan_unicode.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

chore(ssot): regenerate manifest fingerprint artifacts
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Add Codex GitHub PR Agent SCPE package and trial scaffolding
  scpe/codex-github-pr-agent/CG.json
  scpe/codex-github-pr-agent/CHANGELOG.md
  scpe/codex-github-pr-agent/GM.yml
  scpe/codex-github-pr-agent/MIGRATIONS/README.md
  scpe/codex-github-pr-agent/OH.yml
  scpe/codex-github-pr-agent/PA.txt
  scpe/codex-github-pr-agent/PL.json
  scpe/codex-github-pr-agent/PS.md
  scpe/codex-github-pr-agent/TL.yml
  scpe/codex-github-pr-agent/TRIALS/README.md
  scpe/codex-github-pr-agent/VR.json
Due: none

Add codex interpreted mechanized quality agent bundle
  scpe/codex-interpreted-mechanized-quality-agent/CG.json
  scpe/codex-interpreted-mechanized-quality-agent/GM.yml
  scpe/codex-interpreted-mechanized-quality-agent/IM.yml
  scpe/codex-interpreted-mechanized-quality-agent/OH.yml
  scpe/codex-interpreted-mechanized-quality-agent/PA.txt
  scpe/codex-interpreted-mechanized-quality-agent/PL.json
  scpe/codex-interpreted-mechanized-quality-agent/QM.yml
  scpe/codex-interpreted-mechanized-quality-agent/SECURITY.redaction.yml
  scpe/codex-interpreted-mechanized-quality-agent/VR.json
  scpe/codex-interpreted-mechanized-quality-agent/tools/make_manifest.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/score_quality.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_interpretation.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_quality_reports.py
Due: pydocstyle

Fix SCPE manifest hashing, hard-blocker eval, and YAML regex literals
  scpe/codex-interpreted-mechanized-quality-agent/OH.yml
  scpe/codex-interpreted-mechanized-quality-agent/tools/make_manifest.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/score_quality.py
Due: pydocstyle

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
  regenerate-inventory: any of: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
  regenerate-repo-manifest: any of: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
