Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

Fix dev deps and add coverage tests
  pyproject.toml
  tests/test_coverage_paths.py
  tests/test_edge_cases_adex.py
  tests/test_edge_cases_criticality.py
  tests/test_edge_cases_synapse.py
  tests/test_properties_determinism.py
Due: pydocstyle, validate-pyproject

Fix ci-pr-atomic security job
  .github/workflows/ci-pr-atomic.yml
Due: none

Harden pylint config and Codecov uploads
  .github/pull_request_template.md
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/codecov-health.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  pyproject.toml
  scripts/pre-push.sh
  scripts/track_quality.py
  src/bnsyn/energy/regularization.py
  src/bnsyn/plasticity/__init__.py
  src/bnsyn/production/jax_backend.py
  src/bnsyn/sim/network.py
  tests/test_coverage_paths.py
  tests/test_edge_cases_adex.py
  tests/test_edge_cases_criticality.py
  tests/test_edge_cases_synapse.py
  tests/test_edge_cases_temperature.py
  tests/test_properties_determinism.py
  tests/validation/test_energy_validation.py
Due: pydocstyle, validate-pyproject

Harden SSOT governance and evidence coverage
  .github/workflows/ci-pr.yml
  .github/workflows/ci-smoke.yml
  README.md
  README_CLAIMS_GATE.md
  docs/AUDIT_LEDGER.md
  docs/CI_GATES.md
  docs/EVIDENCE_COVERAGE.md
  docs/INVENTORY.md
  docs/PERFORMANCE.md
  docs/REPO_STRUCTURE.md
  docs/SECURITY_GITLEAKS.md
  docs/SSOT.md
  docs/SSOT_RULES.md
  docs/benchmarks/PROTOCOL.md
  scripts/generate_evidence_coverage.py
  scripts/scan_governed_docs.py
  scripts/scan_normative_tags.py
Due: pydocstyle

Make Codecov upload non-blocking in ci-pr-atomic
  .github/workflows/ci-pr-atomic.yml
Due: none

Add performance benchmark suite
  benchmarks/benchmark_dt.py
  benchmarks/benchmark_plasticity.py
  benchmarks/benchmark_scale.py
  benchmarks/performance_utils.py
  docs/PERFORMANCE.md
  tests/test_benchmarks_smoke.py
Due: pydocstyle

Format benchmarks with black
  benchmarks/benchmark_dt.py
  benchmarks/benchmark_plasticity.py
  benchmarks/benchmark_scale.py
Due: pydocstyle

Allow benchmark path setup under ruff
  benchmarks/benchmark_dt.py
  benchmarks/benchmark_plasticity.py
  benchmarks/benchmark_scale.py
Due: pydocstyle

Format integrators and production AdEx docs
  src/bnsyn/numerics/integrators.py
  src/bnsyn/production/adex.py
Due: pydocstyle

Add benchmarks and CI gates for reproducibility
  .github/workflows/ci-pr.yml
  benchmarks/criticality.py
  benchmarks/determinism.py
  benchmarks/scalability.py
  benchmarks/scaling.py
  docs/BENCHMARKS.md
  docs/REPRODUCIBILITY_ENVELOPE.md
  docs/SCALABILITY.md
Due: pydocstyle

Fix benchmark linting for CI
  benchmarks/criticality.py
  benchmarks/determinism.py
  benchmarks/scalability.py
  benchmarks/scaling.py
Due: pydocstyle

Add physics metrics, baselines, and CI benchmark gates
  .github/dependabot.yml
  .github/workflows/ci-bench.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-validation.yml
  .github/workflows/sbom.yml
  benchmarks/baseline.json
  docs/CI_GATES.md
  docs/PHYSICS_DASHBOARD.md
  scripts/compare_physics_baseline.py
  scripts/run_benchmarks.py
  src/bnsyn/metrics.py
  tests/benchmarks/test_pytest_benchmark.py
  tests/validation/test_physical_invariants.py
Due: pydocstyle

Revert "Quality gate: determinism, strict types, test-tier enforcement"
  docs/CONTROL_CONTRACT.md
  docs/QUALITY_GATE_REPORT.md
  docs/TEST_POLICY.md
  src/bnsyn/connectivity/sparse.py
  src/bnsyn/emergence/crystallizer.py
  src/bnsyn/production/connectivity.py
  tests/test_golden_hash.py
  tests/test_marker_enforcement.py
Due: pydocstyle

Improve README structure and onboarding
  README.md
Due: none

Add deterministic invariant guard tests
  docs/QUALITY_INDEX.md
  tests/test_spec_mapping_guard.py
  tests/test_tla_invariants_guard.py
  tests/test_vcg_invariants_guard.py
Due: pydocstyle

Harden guard tests and governance template
  GOVERNANCE_VERIFICATION_REPORT.md
  docs/QUALITY_INDEX.md
  tests/test_spec_mapping_guard.py
  tests/test_tla_invariants_guard.py
  tests/test_vcg_invariants_guard.py
Due: pydocstyle

Add test extra for Hypothesis installs
  .github/REPO_MANIFEST.md
  .github/pull_request_template.md
  .github/workflows/_reusable_pytest.yml
  .github/workflows/_reusable_quality.yml
  .github/workflows/benchmarks.yml
  .github/workflows/chaos-validation.yml
  .github/workflows/ci-benchmarks-elite.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-property-tests.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-validation-elite.yml
  .github/workflows/ci-validation.yml
  .github/workflows/dependency-watch.yml
  .github/workflows/docs.yml
  .github/workflows/physics-equivalence.yml
  .github/workflows/quality-mutation.yml
  .github/workflows/science.yml
  Makefile
  docs/AUDIT_FINDINGS.md
  docs/HYPOTHESIS.md
  docs/PR40_EVIDENCE_REPORT.md
  docs/REPRODUCIBILITY.md
  docs/TROUBLESHOOTING.md
  docs/benchmarks/PROTOCOL.md
  pyproject.toml
Due: validate-pyproject

Add SigmaController init gain clamp test
  tests/test_tla_invariants_guard.py
Due: pydocstyle

Clarify VCG proof scope
  docs/VCG.md
Due: none

Add guard for missing VCG integration
  tests/test_vcg_invariants_guard.py
Due: pydocstyle

Add spec mapping guard checks
  tests/test_spec_mapping_guard.py
Due: pydocstyle

Document guard test SSOT for invariants
  docs/QUALITY_INDEX.md
Due: none

Repeat guard tests in validation CI
  .github/workflows/ci-validation.yml
  README.md
Due: none

test: raise bnsyn coverage
  scripts/check_mutation_score.py
  scripts/compare_benchmarks.py
  scripts/lint_ci_truthfulness.py
  tests/test_api_surface_reexports.py
  tests/test_calibration_fit_edge.py
  tests/test_cli_interactive.py
  tests/test_cli_sleep_stack_branches.py
  tests/test_cli_sleep_stack_figure.py
  tests/test_connectivity_sparse.py
  tests/test_criticality_analysis_edge.py
  tests/test_experiments_declarative.py
  tests/test_experiments_temperature_ablation.py
  tests/test_faults.py
  tests/test_incremental_cache.py
  tests/test_jax_backend.py
  tests/test_plasticity_three_factor_edge.py
  tests/test_sleep_stage_validation.py
  tests/test_synapse_conductance_edge.py
  tests/test_validation_inputs.py
  tests/test_vcg_invariants_guard.py
  tests/test_viz_interactive.py
  tests/test_viz_interactive_main.py
  tests/test_viz_smoke_coverage.py
Due: pydocstyle

Add validation coverage for memory and manifest
  tests/test_memory.py
  tests/test_provenance_manifest.py
Due: pydocstyle

Add integrator accuracy-speed calibration
  src/bnsyn/calibration/__init__.py
  src/bnsyn/calibration/accuracy_speed.py
  tests/test_calibration_accuracy_speed.py
Due: pydocstyle

Optimize integrator calibration loop
  src/bnsyn/calibration/accuracy_speed.py
Due: pydocstyle

Clarify benchmark temperature note
  .github/QUALITY_LEDGER.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  PR_DESCRIPTION.md
  docs/CONSTITUTIONAL_AUDIT.md
  docs/GOVERNANCE.md
  docs/INDEX.md
  docs/NORMATIVE_LABELING.md
  docs/TROUBLESHOOTING.md
  scripts/benchmark_physics.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Replace GHSA placeholder in troubleshooting
  docs/TROUBLESHOOTING.md
Due: none

Update troubleshooting bibkey example
  docs/TROUBLESHOOTING.md
Due: none

Add unit tests for VCG, ledger, and AdEx branches
  tests/test_adex_smoke.py
  tests/test_memory.py
  tests/test_vcg_smoke.py
Due: pydocstyle

Fix documentation links and quickstart sample
  docs/GOVERNANCE.md
  docs/INDEX.md
  docs/LEGENDARY_QUICKSTART.md
Due: none

Add edge-case coverage for crystallizer, network, and VCG
  tests/test_crystallizer_edge_cases.py
  tests/test_network_validation_edges.py
  tests/test_vcg_validation.py
Due: pydocstyle

Add coverage tests for edge cases
  tests/test_coverage_gap_extensions.py
Due: pydocstyle

Harden viz optional dependency guards
  src/bnsyn/viz/interactive.py
Due: pydocstyle

Stabilize viz optional dependency test
  tests/test_coverage_gap_extensions.py
Due: pydocstyle

Raise coverage gate with added tests
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/ci-pr.yml
  Makefile
  tests/test_attractor_crystallizer.py
  tests/test_coverage_gap_extensions.py
  tests/test_faults.py
  tests/test_neuron_adex_validation.py
  tests/test_production_adex_spike.py
  tests/test_provenance_manifest.py
  tests/test_run_simulation_external_current.py
Due: pydocstyle

Add crystallizer phase callback and refractory tests
  tests/test_attractor_crystallizer.py
  tests/test_production_adex_spike.py
Due: pydocstyle

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
