Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

chore(repo): refresh INVENTORY.json snapshot
  INVENTORY.json
Due: none

chore(repo): make inventory snapshot deterministic
  INVENTORY.json
  tools/generate_inventory.py
Due: pydocstyle

Add PR gate SSOT and validation
  .github/PR_GATES.yml
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/workflow-integrity.yml
  INVENTORY.json
  scripts/validate_pr_gates.py
  tests/test_validate_pr_gates.py
Due: pydocstyle

chore(repo): refresh INVENTORY.json snapshot
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/workflow-integrity.yml
  INVENTORY.json
  scripts/render_workflow_policy_docs.py
  scripts/validate_long_running_triggers.py
  tests/test_validate_long_running_triggers.py
Due: pydocstyle

chore(contracts): sync triggers documentation after R1 fixes
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/ci-smoke.yml
  .github/workflows/codeql.yml
Due: none

Update benchmark workflow schedules
  .github/workflows/benchmarks.yml
  .github/workflows/ci-benchmarks-elite.yml
Due: none

chore(ci): normalize long-running workflow triggers
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/benchmarks.yml
  .github/workflows/ci-benchmarks-elite.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/docs.yml
  .github/workflows/physics-equivalence.yml
Due: none

chore(ci): normalize long-running workflow triggers (R2 enforcement)
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/_reusable_benchmarks.yml
  .github/workflows/_reusable_chaos_tests.yml
  .github/workflows/_reusable_formal_science.yml
  .github/workflows/_reusable_gate_profile.yml
  .github/workflows/_reusable_property_tests.yml
  .github/workflows/_reusable_pytest.yml
  .github/workflows/_reusable_quality.yml
  .github/workflows/_reusable_ssot.yml
  .github/workflows/_reusable_validation_tests.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-validation.yml
  .github/workflows/codecov-health.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-watch.yml
  .github/workflows/formal-coq.yml
  .github/workflows/formal-tla.yml
  .github/workflows/quality-mutation.yml
  .github/workflows/science.yml
  scripts/render_workflow_policy_docs.py
  scripts/validate_long_running_triggers.py
  tests/test_validate_long_running_triggers.py
Due: pydocstyle

Document PR gates vs long-running CI
  README.md
Due: none

Add required checks validation
  .github/REQUIRED_CHECKS.yml
  .github/workflows/workflow-integrity.yml
  INVENTORY.json
  scripts/validate_required_checks.py
Due: pydocstyle

Normalize long-running workflow audit markers
  .github/workflows/benchmarks.yml
  .github/workflows/ci-benchmarks-elite.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/docs.yml
  .github/workflows/physics-equivalence.yml
Due: none

Enforce long-running trigger policy
  .github/WORKFLOW_CONTRACTS.md
  ci_manifest.json
  scripts/render_workflow_policy_docs.py
  scripts/validate_long_running_triggers.py
  tests/test_validate_long_running_triggers.py
Due: pydocstyle

Revert "Normalize long-running workflow audit markers"
  .github/workflows/benchmarks.yml
  .github/workflows/ci-benchmarks-elite.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/docs.yml
  .github/workflows/physics-equivalence.yml
Due: none

Align ci-smoke gate profile
  .github/workflows/ci-smoke.yml
Due: none

chore(ci): add/adjust coverage artifact + gate
  .github/workflows/_reusable_pytest.yml
  Makefile
  README.md
  docs/ARCHITECTURE_INVARIANTS.md
  docs/CI_GATES_old.md
  docs/INDEX.md
  docs/TESTING.md
  docs/TRACEABILITY_MAP.md
  quality/coverage_gate.json
  scripts/check_coverage_gate.py
  src/bnsyn/validation/inputs.py
  tests/test_manifest_builder.py
  tests/test_schema_experiment_contracts.py
  tests/test_sleep_cycle.py
  tests/test_validation_inputs.py
Due: pydocstyle

chore(ci): enforce deterministic no-simulation quality gate integrity
  .github/workflows/_reusable_pytest.yml
  Makefile
  README.md
  docs/TESTING.md
  pyproject.toml
  quality/coverage_gate.json
  scripts/check_coverage_gate.py
  scripts/generate_coverage_baseline.py
  tests/test_validation_inputs.py
Due: pydocstyle, validate-pyproject

chore(ci): refresh generated inventory for workflow integrity
  INVENTORY.json
Due: none

chore(ci): make inventory generation deterministic via tracked files
  INVENTORY.json
  tools/generate_inventory.py
Due: pydocstyle

test: harden coverage gate fail-closed behavior and regression tests
  pyproject.toml
  quality/coverage_gate.json
  scripts/check_coverage_gate.py
  tests/test_coverage_gate.py
Due: pydocstyle, validate-pyproject

chore(ci): sync inventory counts with tracked tests
  INVENTORY.json
Due: none

chore(ci): sync inventory counts with tracked tests
  .github/workflows/_reusable_pytest.yml
  INVENTORY.json
  Makefile
  README.md
  docs/ARCHITECTURE_INVARIANTS.md
  docs/CI_GATES_old.md
  docs/INDEX.md
  docs/TESTING.md
  docs/TRACEABILITY_MAP.md
  quality/coverage_gate.json
  scripts/check_coverage_gate.py
  scripts/generate_coverage_baseline.py
  src/bnsyn/validation/inputs.py
  tests/test_coverage_gate.py
  tests/test_manifest_builder.py
  tests/test_schema_experiment_contracts.py
  tests/test_sleep_cycle.py
  tests/test_validation_inputs.py
  tools/generate_inventory.py
Due: pydocstyle

Fix mutation score parsing and add regression coverage
  scripts/check_mutation_score.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Fix mutation gate using canonical mutmut result IDs
  .github/workflows/quality-mutation.yml
  scripts/check_mutation_score.py
  scripts/generate_mutation_baseline.py
  scripts/mutation_counts.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Fix YAML indentation in quality mutation workflow heredoc
  .github/workflows/quality-mutation.yml
Due: none

Harden mutation pipeline with canonical CI summary
  .github/workflows/quality-mutation.yml
  scripts/__init__.py
  scripts/check_mutation_score.py
  scripts/mutation_ci_summary.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Consolidate mutation metrics into canonical module
  .github/workflows/quality-mutation.yml
  scripts/check_mutation_score.py
  scripts/mutation_ci_summary.py
  scripts/mutation_counts.py
  scripts/mutation_survivors_summary.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Finalize canonical mutation outputs and fail-closed checks
  .github/workflows/quality-mutation.yml
  scripts/mutation_ci_summary.py
  scripts/mutation_counts.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Add missing mutation CI resilience test coverage
  tests/test_mutation_parsing.py
Due: pydocstyle

Fail fast on missing CI env before mutation reads
  scripts/mutation_ci_summary.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Harden mutation summary error handling and fail-closed tests
  scripts/mutation_ci_summary.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Harden mutation fail-closed handling for missing tools and writes
  scripts/check_mutation_score.py
  scripts/mutation_ci_summary.py
  tests/test_mutation_parsing.py
Due: pydocstyle

Finalize mutation gate contract and fail-closed CI workflow
  .github/workflows/quality-mutation.yml
  Makefile
  docs/MUTATION_GATE.md
  docs/QUALITY_INFRASTRUCTURE.md
  docs/TESTING_MUTATION.md
  scripts/check_mutation_score.py
  scripts/generate_mutation_baseline.py
  scripts/mutation_ci_summary.py
  scripts/run_mutation_pipeline.py
  scripts/validate_mutation_baseline.py
  tests/test_mutation_ci_summary_contract.py
  tests/test_mutation_counts_contract.py
  tests/test_mutation_parsing.py
  tests/test_mutation_run_pipeline_contract.py
  tests/test_mutation_survivors_summary.py
Due: pydocstyle

Polish mutation gate contracts and execution semantics
  .github/workflows/quality-mutation.yml
  Makefile
  docs/MUTATION_GATE.md
  docs/QUALITY_INFRASTRUCTURE.md
  scripts/mutation_ci_summary.py
  scripts/run_mutation_pipeline.py
  scripts/validate_mutation_baseline.py
  tests/test_mutation_ci_summary_contract.py
  tests/test_mutation_counts_contract.py
  tests/test_mutation_run_pipeline_contract.py
Due: pydocstyle

Harden CI truthfulness checks for masked failures
  .github/workflows/quality-mutation.yml
  scripts/lint_ci_truthfulness.py
  tests/test_lint_ci_truthfulness.py
Due: pydocstyle

Stabilize mutmut runner arg passing in baseline generator
  scripts/generate_mutation_baseline.py
Due: pydocstyle

Regenerate inventory after mutation gate file changes
  INVENTORY.json
Due: none

Add offline wheelhouse build and validation workflow
  Makefile
  README.md
  docs/TESTING.md
  scripts/build_wheelhouse.py
  tests/test_wheelhouse_tools.py
Due: pydocstyle

Expand deterministic tests for wheelhouse contracts
  Makefile
  README.md
  docs/TESTING.md
  scripts/build_wheelhouse.py
  tests/test_wheelhouse_tools.py
Due: pydocstyle

Regenerate inventory after adding wheelhouse tests
  INVENTORY.json
Due: none

Harden target marker evaluation and deterministic wheelhouse build
  .gitignore
  Makefile
  docs/TESTING.md
  scripts/build_wheelhouse.py
  tests/test_wheelhouse_tools.py
Due: pydocstyle

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
