Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

regenerate-inventory:
  name: regenerate inventory snapshot
  entry: python tools/generate_inventory.py
  language: system
  pass_filenames: false
  stages:
  - commit

regenerate-repo-manifest:
  name: regenerate repository manifest artifacts
  entry: python -m tools.manifest generate
  language: system
  pass_filenames: false
  stages:
  - commit

docs: add Elon algorithm v3 audit workflow in Ukrainian
  docs/appendix/ELON_ALGORITHM_V3_UA.md
Due: regenerate-inventory

docs: rewrite README with research-grade project narrative
  README.md
Due: regenerate-repo-manifest

Harden canonical plot smoke path and proof contract diagnostics
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  INVENTORY.json
  Makefile
  README.md
  docs/CANONICAL_PROOF.md
  docs/DEMO.md
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  scripts/check_quickstart_consistency.py
  src/bnsyn/cli.py
  tests/test_claim_boundaries_contract.py
  tests/test_cli_plot_contract.py
  tests/test_readme_quickstart_contract.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix governed docs, quickstart contract, and coverage gate regressions
  README.md
  src/bnsyn/cli.py
  tests/test_cli_plot_contract.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix docs-testing sync by restoring canonical make test-gate command
  README.md
Due: regenerate-repo-manifest

Add required README link to docs/STATUS.md
  README.md
Due: regenerate-repo-manifest

Harden emergence contracts and validation paths
  INVENTORY.json
  docs/features/emergence_experiment.md
  examples/configs/emergence_current.yaml
  proof_bundle/logs/agent.log
  quality/api_contract_baseline.json
  schemas/experiment.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/schemas/experiment.py
  src/bnsyn/sim/network.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_emergence_pipeline.py
  tests/test_experiments_declarative.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Refactor emergence pipeline into orchestrator and restore core API
  proof_bundle/logs/agent.log
  quality/api_contract_baseline.json
  schemas/experiment.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/__init__.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/experiments/emergence.py
  src/bnsyn/numerics/__init__.py
  src/bnsyn/numerics/time.py
  src/bnsyn/schemas/experiment.py
  src/bnsyn/sim/network.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_emergence_pipeline.py
  tests/test_experiments_declarative.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden emergence orchestration contracts and declarative artifact flow
  INVENTORY.json
  docs/features/emergence_experiment.md
  examples/configs/emergence_current.yaml
  proof_bundle/logs/agent.log
  schemas/experiment.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/__init__.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/experiments/emergence.py
  src/bnsyn/numerics/__init__.py
  src/bnsyn/numerics/time.py
  src/bnsyn/schemas/experiment.py
  src/bnsyn/sim/network.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_emergence_pipeline.py
  tests/test_experiments_declarative.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

Regenerate API docs and entropy gate command log
  INVENTORY.json
  docs/api/generated/bnsyn.api.rst
  docs/api/generated/bnsyn.biodigital.rst
  docs/api/generated/bnsyn.biodigital.s12.rst
  docs/api/generated/bnsyn.experiments.emergence.rst
  docs/api/generated/bnsyn.experiments.rst
  docs/api/generated/bnsyn.numerics.rst
  docs/api/generated/bnsyn.numerics.time.rst
  docs/api/generated/bnsyn.provenance.manifest.rst
  docs/api/generated/bnsyn.rst
  docs/api/generated/bnsyn.viz.emergence_plot.rst
  docs/api/generated/bnsyn.viz.rst
  docs/features/emergence_experiment.md
  evidence/entropy_gate/commands.log
  examples/configs/emergence_current.yaml
  proof_bundle/logs/agent.log
  schemas/experiment.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/__init__.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/experiments/emergence.py
  src/bnsyn/numerics/__init__.py
  src/bnsyn/numerics/time.py
  src/bnsyn/schemas/experiment.py
  src/bnsyn/sim/network.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_emergence_pipeline.py
  tests/test_experiments_declarative.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

chore(contracts): regenerate inventory and reproducibility report
  INVENTORY.json
  docs/features/emergence_experiment.md
  evidence/zqsg_2026_02_12/repro_report_ci.json
  examples/configs/emergence_current.yaml
  schemas/experiment.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/__init__.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/experiments/emergence.py
  src/bnsyn/numerics/__init__.py
  src/bnsyn/numerics/time.py
  src/bnsyn/schemas/experiment.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_emergence_pipeline.py
  tests/test_experiments_declarative.py
  tests/test_schema_experiment_contracts.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

test(emergence): cover plotter validation and CLI emergence plot command
  src/bnsyn/cli.py
  tests/test_emergence_pipeline.py
Due: pydocstyle, regenerate-inventory

test(emergence): exercise CLI argparse main paths and tolerance error
  tests/test_emergence_pipeline.py
Due: pydocstyle, regenerate-inventory

test(emergence): cover current type and neuron bounds via cli main flow
  src/bnsyn/cli.py
  tests/test_emergence_pipeline.py
Due: pydocstyle, regenerate-inventory

chore(evidence): drop ci-only reproducibility report from VCS
  evidence/zqsg_2026_02_12/repro_report_ci.json
Due: none

style: apply ruff formatting to emergence branch files
  src/bnsyn/cli.py
  tests/test_emergence_pipeline.py
  tests/test_schema_experiment_contracts.py
Due: pydocstyle, regenerate-inventory

fix: align M0 bootstrap control plane to canonical proof direction
  ci/milestone_state.json
  ci/statistical_power_config.json
  ci/validation_gates.json
  configs/canonical_profile.yaml
  docs/M0_BOOTSTRAP_FOUNDATION.md
  schemas/proof-report.schema.json
  src/bnsyn/cli.py
  tests/test_m0_bootstrap_contracts.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

fix: tighten canonical bootstrap error path and gate evidence mapping
  ci/validation_gates.json
  src/bnsyn/cli.py
  tests/test_m0_bootstrap_contracts.py
Due: pydocstyle, regenerate-inventory

fix: normalize canonical bootstrap gate and policy contracts
  ci/statistical_power_config.json
  ci/validation_gates.json
  docs/M0_BOOTSTRAP_FOUNDATION.md
  tests/test_m0_bootstrap_contracts.py
Due: pydocstyle, regenerate-inventory

fix: repair ci gates for bootstrap run compatibility and coverage
  INVENTORY.json
  src/bnsyn/cli.py
  tests/test_cli_bootstrap_compat.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

fix: regenerate inventory after bootstrap compat test addition
  INVENTORY.json
Due: regenerate-inventory

feat(canonical): wire live canonical run bundle with metrics and plots
  configs/canonical_profile.yaml
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  tests/test_canonical_live_run.py
  tests/test_cli_bootstrap_compat.py
  tests/test_m0_bootstrap_contracts.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

chore(inventory): regenerate repository inventory counts
  INVENTORY.json
Due: regenerate-inventory

test(canonical): add focused branch coverage for live-run helpers and CLI
  tests/test_canonical_live_run_unit.py
  tests/test_cli_bootstrap_compat.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

chore(inventory): sync counts for perfection gate
  INVENTORY.json
Due: regenerate-inventory

feat(canonical): unify canonical run command and artifact contract
  Makefile
  README.md
  ci/milestone_state.json
  docs/CANONICAL_PROOF.md
  docs/DEMO.md
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  scripts/check_quickstart_consistency.py
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_readme_quickstart_contract.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

fix(canonical): restore truthfulness for manifest, wrapper, and milestones
  Makefile
  ci/milestone_state.json
  docs/CANONICAL_PROOF.md
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  tests/test_cli_bootstrap_compat.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

feat(canonical): add criticality report to canonical bundle
  Makefile
  README.md
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/DEMO.md
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  scripts/check_quickstart_consistency.py
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_readme_quickstart_contract.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

fix(ci): resolve mypy contradiction in canonical bundle return typing
  src/bnsyn/experiments/declarative.py
Due: pydocstyle, regenerate-inventory

Fix canonical command truth in templates and guidance
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  INVENTORY.json
  Makefile
  README.md
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/DEMO.md
  docs/LEGENDARY_QUICKSTART.md
  docs/M0_BOOTSTRAP_FOUNDATION.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  schemas/avalanche-report.schema.json
  schemas/phase-space-report.schema.json
  scripts/check_quickstart_consistency.py
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  tests/test_avalanche_analysis.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_phase_space_analysis.py
  tests/test_readme_quickstart_contract.py
  tests/test_tests_inventory.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix CI contract test path and raise analysis coverage
  .github/workflows/ci-pr-atomic.yml
  tests/test_avalanche_analysis.py
  tests/test_phase_space_analysis.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Regenerate repository manifest fingerprints
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Finalize canonical proof export stabilization and fail-closed contracts
  README.md
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  schemas/proof-report.schema.json
  schemas/run-manifest.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/proof/__init__.py
  src/bnsyn/proof/evaluate.py
  tests/test_cli_bootstrap_compat.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Make canonical base/export-proof contracts mode-truthful and fixed-point stable
  ci/validation_gates.json
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  schemas/proof-report.schema.json
  schemas/run-manifest.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
  tests/test_readme_quickstart_contract.py
Due: pydocstyle, regenerate-inventory

Enforce fail-closed manifest mode truth in proof evaluation
  README.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/proof/REPRODUCE.md
  schemas/run-manifest.schema.json
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix placeholder scan and refresh inventory metadata
  INVENTORY.json
  src/bnsyn/proof/evaluate.py
Due: pydocstyle, regenerate-inventory

Harden proof/CLI edge-case coverage and restore coverage gate
  src/bnsyn/proof/contracts.py
  tests/test_cli_plot_contract.py
  tests/test_proof_contracts_and_edges.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

Regenerate INVENTORY.json to restore SSOT sync
  INVENTORY.json
Due: regenerate-inventory

Upgrade pytest failure diagnostics to library-first subsystem
  .github/workflows/_reusable_pytest.yml
  INVENTORY.json
  Makefile
  docs/engineering/PYTEST_FAILURE_DIAGNOSTICS.md
  schemas/pytest-failure-diagnostics.schema.json
  scripts/aggregate_pytest_failures.py
  scripts/run_pytest_with_diagnostics.py
  scripts/write_evidence_manifest.py
  src/bnsyn/qa/__init__.py
  src/bnsyn/qa/pytest_failure_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
  tests/test_pytest_failure_diagnostics_runner.py
  tests/test_pytest_failure_diagnostics_schema.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
  regenerate-inventory: any of: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
  regenerate-repo-manifest: any of: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
