Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict, --no-implicit-optional]
        additional_dependencies: [types-all]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0
    hooks:
      - id: pylint
        args: [--fail-under=9.0]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/, -ll]

  - repo: local
    hooks:
      - id: pytest-smoke-tests
        name: pytest smoke tests
        entry: bash -c 'pytest -m "not validation" --tb=short -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: coverage-check
        name: coverage must be â‰¥85%
        entry: bash -c 'pytest --cov=src/bnsyn --cov-fail-under=85 -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: pydocstyle
        name: check docstrings
        entry: pydocstyle src/bnsyn
        language: python
        additional_dependencies: [pydocstyle]
        types: [python]

      - id: no-pdb
        name: prevent pdb
        entry: bash -c 'grep -r "import pdb" src/ && exit 1 || exit 0'
        language: system
        pass_filenames: false

      - id: validate-pyproject
        name: validate pyproject.toml
        entry: validate-pyproject
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [validate-pyproject]

      - id: validate-bibliography
        name: validate bibliography
        entry: python scripts/validate_bibliography.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-claims
        name: validate claims
        entry: python scripts/validate_claims.py
        language: system
        pass_filenames: false
        stages: [commit]

Add normalized aggregates to temperature ablation outputs
  experiments/temperature_ablation_consolidation.py
  results/temp_ablation_v1/cooling_geometric.json
  results/temp_ablation_v1/fixed_high.json
  results/temp_ablation_v1/fixed_low.json
  results/temp_ablation_v1/random_T.json
  results/temp_ablation_v2/cooling_piecewise.json
  results/temp_ablation_v2/fixed_high.json
  results/temp_ablation_v2/fixed_low.json
  results/temp_ablation_v2/random_T.json
  tests/test_verify_hypothesis_v2.py
Due: pydocstyle

Update temp ablation manifests after normalization
  results/temp_ablation_v1/manifest.json
  results/temp_ablation_v2/manifest.json
Due: none

Add spec and hypothesis metadata to manifests
  experiments/runner.py
  tests/test_experiment_manifest.py
Due: pydocstyle

Add experiment results schema validation
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-validation.yml
  Makefile
  schemas/experiment_results.schema.json
  scripts/pre-push.sh
  scripts/validate_results_schema.py
  tests/validation/test_results_schema_validation.py
Due: pydocstyle

Refactor JAX backend optional import
  artifacts/coverage.json
  artifacts/coverage_term_missing.txt
  src/bnsyn/production/jax_backend.py
  tests/test_coverage_paths.py
  tests/test_jax_backend.py
Due: pydocstyle

Add schema contract tests and JAX backend edge coverage
  artifacts/coverage.json
  artifacts/coverage_term_missing.txt
  tests/test_jax_backend.py
  tests/test_schema_experiment_contracts.py
Due: pydocstyle

Add coverage evidence artifacts
  artifacts/coverage.json
  artifacts/coverage_backlog.md
  artifacts/rwu_log.md
Due: none

Harden supply chain checks and container security
  .github/workflows/ci-pr.yml
  .github/workflows/dependency-review.yml
  Dockerfile
  PR_DESCRIPTION_EVIDENCE.md
  SECURITY.md
  docs/THREAT_MODEL.md
  experiments/temperature_ablation_consolidation.py
  scripts/verify_actions_supply_chain.py
Due: pydocstyle

Guard dependency review when graph disabled
  .github/workflows/dependency-review.yml
  PR_DESCRIPTION_EVIDENCE.md
Due: none

Scan local composite actions in supply chain check
  PR_DESCRIPTION_EVIDENCE.md
  scripts/verify_actions_supply_chain.py
Due: pydocstyle

Harden AdEx property test signal
  src/bnsyn/cli.py
  src/bnsyn/sleep/replay.py
  src/bnsyn/testing/faults.py
  tests/properties/test_adex_properties.py
Due: pydocstyle

Correct AdEx excitatory input property
  tests/properties/test_adex_properties.py
Due: pydocstyle

tests: harden replay coverage and performance invariants
  artifacts/coverage.json
  experiments/temperature_ablation_consolidation.py
  src/bnsyn/testing/__init__.py
  tests/test_performance.py
  tests/test_sleep_replay.py
  tests/validation/__init__.py
Due: pydocstyle

Update dual-weight SPEC references to P1-6
  src/bnsyn/config.py
  src/bnsyn/consolidation/__init__.py
  src/bnsyn/consolidation/dual_weight.py
Due: pydocstyle

Add script validation tests
  tests/test_scan_governed_docs_script.py
  tests/test_validate_bibliography_script.py
Due: pydocstyle

Handle url extraction from howpublished
  scripts/validate_bibliography.py
Due: pydocstyle

Fix benchmark harness smoke scenario
  benchmarks/run_benchmarks.py
  benchmarks/scenarios/__init__.py
  benchmarks/scenarios/ci_smoke.py
Due: pydocstyle

Add additional audit report
  docs/appendix/additional_audit_2026.md
Due: none

Add benchmark baselines and regression gate
  .github/REPO_MANIFEST.md
  .github/workflows/ci-benchmarks.yml
  .gitignore
  benchmarks/baselines/kernel_profile.json
  benchmarks/baselines/physics_baseline.json
  docs/PERFORMANCE.md
  scripts/check_benchmark_regressions.py
  tests/test_benchmark_regression_gate.py
Due: pydocstyle

Harden PR security gates and artifacts
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/ci-pr.yml
  docs/CI_GATES.md
  docs/QUALITY_INDEX.md
  scripts/pre-push.sh
Due: none

Unify manifest building for CLI and experiments
  experiments/runner.py
  src/bnsyn/cli.py
  src/bnsyn/provenance/manifest_builder.py
  tests/test_manifest_consistency.py
Due: pydocstyle

Move benchmark baselines and enforce regression gate
  .github/REPO_MANIFEST.md
  .github/workflows/ci-benchmarks-elite.yml
  benchmarks/README.md
  benchmarks/baselines/baseline.json
  benchmarks/kernel_profile.json
  benchmarks/physics_baseline.json
  benchmarks/scaling_plan.md
  docs/ACTIONS_TEST_PROTOCOL.md
  docs/PERFORMANCE.md
  docs/THROUGHPUT_SCALING.md
  scripts/benchmark_physics.py
  scripts/check_benchmark_regressions.py
  scripts/compare_benchmarks.py
  scripts/orchestrate_throughput_scaling.py
  scripts/profile_kernels.py
  scripts/run_benchmarks.py
  tests/test_benchmark_regression_gate.py
Due: pydocstyle

Add shared manifest builder and consistency test
  experiments/runner.py
  src/bnsyn/cli.py
  src/bnsyn/provenance/manifest_builder.py
  tests/test_manifest_consistency.py
Due: pydocstyle

Align security gates across CI and docs
  .github/REPO_MANIFEST.md
  .github/workflows/ci-pr.yml
  docs/CI_GATES.md
  docs/QUALITY_INDEX.md
Due: none

Add coverage for manifest builder fallbacks
  artifacts/coverage.json
  tests/test_manifest_builder.py
Due: pydocstyle

Exclude benchmark tests from mutation baseline runs
  Makefile
  docs/INDEX.md
  docs/RELEASE_READINESS.md
  docs/TESTING_MUTATION.md
  pyproject.toml
  scripts/generate_mutation_baseline.py
  scripts/release_readiness.py
  tests/benchmarks/test_regression.py
Due: pydocstyle, validate-pyproject

release: capture release readiness report → artifacts
  README.md
  artifacts/release_rc/build.log
  artifacts/release_rc/coverage.json
  artifacts/release_rc/coverage_term_missing.log
  artifacts/release_rc/demo_run.log
  artifacts/release_rc/determinism_run1.log
  artifacts/release_rc/determinism_run2.log
  artifacts/release_rc/determinism_run3.log
  artifacts/release_rc/make_check.log
  artifacts/release_rc/make_test.log
  artifacts/release_rc/pip_install_build.log
  artifacts/release_rc/pip_install_dev.log
  artifacts/release_rc/release_readiness.json
  artifacts/release_rc/release_readiness.log
  artifacts/release_rc/release_readiness.md
  docs/DEMO.md
  docs/INDEX.md
  docs/RELEASE_NOTES.md
  scripts/check_benchmark_regressions.py
  scripts/release_readiness.py
  tests/test_validate_bibliography_script.py
Due: pydocstyle

release: cross-stress validation logs
  artifacts/release_rc/chaos_validation_run.log
  artifacts/release_rc/pip_install_dev_cross_validation.log
  artifacts/release_rc/validation_run.log
Due: none

release: record branch verification logs
  artifacts/release_rc/git_branch_status.log
  artifacts/release_rc/git_status.log
Due: none

Add conference runbook and release readiness guidance
  README.md
  docs/CONFERENCE_RUNBOOK.md
  docs/DEMO.md
Due: none

Add manifest builder version coverage
  tests/test_manifest_builder.py
Due: pydocstyle

release: add evidence logs → build/demo/mutation
  artifacts/release_rc/coverage.json
  artifacts/release_rc/demo_smoke.log
  artifacts/release_rc/determinism_run1.log
  artifacts/release_rc/determinism_run2.log
  artifacts/release_rc/determinism_run3.log
  artifacts/release_rc/make_check.log
  artifacts/release_rc/make_test.log
  artifacts/release_rc/mutation_baseline.log
  artifacts/release_rc/mutation_baseline_reuse.log
  artifacts/release_rc/pip_install_build.log
  artifacts/release_rc/pip_install_dev.log
  artifacts/release_rc/python_build.log
  artifacts/release_rc/release_readiness.json
  artifacts/release_rc/release_readiness.log
  artifacts/release_rc/release_readiness.md
  docs/RELEASE_NOTES.md
  pyproject.toml
  quality/mutation_baseline.json
  scripts/generate_mutation_baseline.py
Due: pydocstyle, validate-pyproject

Update mutation baseline generation
  quality/mutation_baseline.json
  scripts/generate_mutation_baseline.py
Due: pydocstyle

Update requirements lock for Python 3.11
  requirements-lock.txt
Due: none

Use dynamic package version in CLI
  src/bnsyn/cli.py
Due: pydocstyle

Add integration architecture doc and end-to-end test
  docs/INTEGRATION.md
  tests/test_integration_experiment_flow.py
Due: pydocstyle

Expand integration documentation with gates and rollout
  docs/INTEGRATION.md
Due: none

Refactor voltage bounds check helper
  src/bnsyn/sim/network.py
Due: pydocstyle
