Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict, --no-implicit-optional]
        additional_dependencies: [types-all]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0
    hooks:
      - id: pylint
        args: [--rcfile=pyproject.toml, --fail-under=7.5]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: [-r, src/, -ll]

  - repo: local
    hooks:
      - id: pytest-smoke-tests
        name: pytest smoke tests
        entry: bash -c 'pytest -m "not validation" --tb=short -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: coverage-check
        name: coverage must be â‰¥85%
        entry: bash -c 'pytest --cov=src/bnsyn --cov-fail-under=85 -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: pydocstyle
        name: check docstrings
        entry: pydocstyle src/bnsyn
        language: python
        additional_dependencies: [pydocstyle]
        types: [python]

      - id: no-pdb
        name: prevent pdb
        entry: bash -c 'grep -r "import pdb" src/ && exit 1 || exit 0'
        language: system
        pass_filenames: false

      - id: validate-pyproject
        name: validate pyproject.toml
        entry: validate-pyproject
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [validate-pyproject]


      - id: regenerate-inventory
        name: regenerate inventory snapshot
        entry: python tools/generate_inventory.py
        language: system
        pass_filenames: false
        files: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
        stages: [commit]

      - id: regenerate-repo-manifest
        name: regenerate repository manifest artifacts
        entry: python -m tools.manifest generate
        language: system
        pass_filenames: false
        files: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
        stages: [commit]
      - id: validate-bibliography
        name: validate bibliography
        entry: python -m scripts.validate_bibliography
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-claims
        name: validate claims
        entry: python -m scripts.validate_claims
        language: system
        pass_filenames: false
        stages: [commit]

Harden readiness contract validation
  src/bnsyn/qa/readiness_contract.py
  tests/test_release_readiness.py
Due: pydocstyle, regenerate-inventory

Harden execution-backed readiness contract
  .github/workflows/ci-pr-atomic.yml
  docs/adr/0002-readiness-contract-orchestration.md
  src/bnsyn/qa/readiness_contract.py
  tests/test_release_readiness.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden execution-backed readiness contract
  docs/adr/0002-readiness-contract-orchestration.md
  scripts/release_readiness.py
  src/bnsyn/qa/readiness_contract.py
  tests/test_release_readiness.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden resumable canonical pipeline
  schemas/run-manifest.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/resources/schemas/run-manifest.schema.json
  tests/test_canonical_live_run.py
  tests/test_proof_report_schema.py
Due: pydocstyle, regenerate-inventory

Tighten pipeline policy freeze and failure visibility
  schemas/run-manifest.schema.json
  src/bnsyn/experiments/declarative.py
  src/bnsyn/resources/schemas/run-manifest.schema.json
  tests/test_canonical_live_run.py
Due: pydocstyle, regenerate-inventory

Verify CLI stage progress output
  tests/test_cli_plot_contract.py
Due: pydocstyle, regenerate-inventory

Harden verifier evidence semantics
  docs/EVIDENCE_CONTRACT.md
  examples/basic_task.yaml
  src/aoc/audit.py
  src/aoc/contracts.py
  src/aoc/controller.py
  src/aoc/termination.py
  tests/__init__.py
  tests/fixtures.py
  tests/test_audit_trace.py
  tests/test_contracts.py
  tests/test_controller_e2e.py
  tests/test_delta.py
Due: pydocstyle, regenerate-inventory

Add unified runtime telemetry stream
  src/aoc/controller.py
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/observability/__init__.py
  src/bnsyn/observability/analyze_events.py
  src/bnsyn/observability/telemetry.py
  tests/test_canonical_live_run.py
  tests/test_controller_e2e.py
Due: pydocstyle, regenerate-inventory

docs(bib): DOI-verified APA7 bibliography update
  bibliography/bnsyn.bib
  docs/BIBLIOGRAPHY.md
Due: regenerate-inventory
