Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

regenerate-inventory:
  name: regenerate inventory snapshot
  entry: python tools/generate_inventory.py
  language: system
  pass_filenames: false
  stages:
  - commit

regenerate-repo-manifest:
  name: regenerate repository manifest artifacts
  entry: python -m tools.manifest generate
  language: system
  pass_filenames: false
  stages:
  - commit

Fix ruff import style for SCPE quality-agent tools
  scpe/codex-interpreted-mechanized-quality-agent/tools/make_manifest.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/score_quality.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_interpretation.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_quality_reports.py
Due: pydocstyle

chore(scpe): upgrade interpreted mechanized quality agent spec to 2026.2
  scpe/codex-interpreted-mechanized-quality-agent/CG.json
  scpe/codex-interpreted-mechanized-quality-agent/GM.yml
  scpe/codex-interpreted-mechanized-quality-agent/IM.yml
  scpe/codex-interpreted-mechanized-quality-agent/OH.yml
  scpe/codex-interpreted-mechanized-quality-agent/PA.txt
  scpe/codex-interpreted-mechanized-quality-agent/PL.json
  scpe/codex-interpreted-mechanized-quality-agent/QM.yml
  scpe/codex-interpreted-mechanized-quality-agent/VR.json
Due: none

fix(scpe): add missing v2026.3 SSOT artifacts and runnable toolchain (G.IM.001 G.SEC.001)
  scpe/codex-interpreted-mechanized-quality-agent/ERM.yml
  scpe/codex-interpreted-mechanized-quality-agent/META-EBS-2026.3.yml
  scpe/codex-interpreted-mechanized-quality-agent/PA.txt
  scpe/codex-interpreted-mechanized-quality-agent/PL.json
  scpe/codex-interpreted-mechanized-quality-agent/PS.md
  scpe/codex-interpreted-mechanized-quality-agent/VR.json
  scpe/codex-interpreted-mechanized-quality-agent/tools/apply_erm_txn.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/compare_quality.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/decide_gates.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/enforce_redaction.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/make_manifest_meta.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/observe_meta_state.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/prove_meta_validity.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/render_oh_output.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/run_interpreter.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/run_quality_suite.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/score_quality.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/select_erm_txn.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_erm_ast.py
Due: pydocstyle

fix(ci): resolve ci_gate_runner contradictions and harden SCPE tooling (G.QM.010 G.IM.020)
  scpe/codex-interpreted-mechanized-quality-agent/tools/apply_erm_txn.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/compare_quality.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/decide_gates.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/enforce_redaction.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/make_manifest_meta.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/prove_meta_validity.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/render_oh_output.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/run_interpreter.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/run_quality_suite.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/select_erm_txn.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/validate_erm_ast.py
  scripts/ci_gate_runner.py
  scripts/ci_policy.py
  tests/test_e2e_cli_smoke.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Narrow JAX backend import error handling
  src/bnsyn/production/jax_backend.py
  tests/test_jax_backend.py
Due: pydocstyle, regenerate-inventory

Narrow JAX backend import error handling
  tests/test_jax_backend.py
Due: pydocstyle, regenerate-inventory

chore: add deterministic command execution log
  COMMANDS.txt
Due: none

Add CA-ERG rapid assessment artifact bundle
  proof_bundle/logs/pylint.log
  proof_bundle/reports/MANIFEST.json
  proof_bundle/reports/ca_erg_assessment_2026-02-20.yaml
  proof_bundle/reports/redaction_policy.md
Due: none

Extend placeholder scanner to detect TODO/FIXME comments
  scripts/scan_placeholders.py
  tests/test_scan_placeholders.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Refine TODO/FIXME marker regex and harden token scan
  scripts/scan_placeholders.py
Due: pydocstyle, regenerate-repo-manifest

Add deterministic BIO-DIGITAL-S12 control primitives
  proof_bundle/logs/session.log
  src/bnsyn/biodigital/__init__.py
  src/bnsyn/biodigital/s12.py
  tests/biodigital/test_s12.py
Due: pydocstyle, regenerate-inventory

Harden BIO-DIGITAL S12 validation and stabilize inventory
  INVENTORY.json
  proof_bundle/logs/session.log
  src/bnsyn/biodigital/s12.py
  tests/biodigital/test_s12.py
Due: pydocstyle, regenerate-inventory

chore: record latest pytest command in proof bundle
  proof_bundle/index.json
  proof_bundle/logs/commands.log
Due: none

chore: add session evidence logs for baseline checks
  proof_bundle/logs/session.log
Due: none

feat(cimqa): implement deterministic meta-state and ERM tooling
  scpe/codex-interpreted-mechanized-quality-agent/IM.yml
  scpe/codex-interpreted-mechanized-quality-agent/PS.md
  scpe/codex-interpreted-mechanized-quality-agent/SECURITY.redaction.yml
  scpe/codex-interpreted-mechanized-quality-agent/tools/apply_erm_txn.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/deadlock_fingerprint.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/observe_meta_state.py
  scpe/codex-interpreted-mechanized-quality-agent/tools/select_erm_txn.py
Due: pydocstyle

chore(finalizer): record STOP_MISSING_INPUTS outcome
  proof_bundle/reports/pfri_outcome_20260220.json
Due: none

chore: refresh validation/build evidence logs
  proof_bundle/logs/mypy.log
  proof_bundle/logs/pytest_not_validation_property.log
  proof_bundle/logs/python_build.log
Due: none

Fix changed-path validator to include untracked files
  scripts/validate_changed_paths.py
  tests/test_validate_changed_paths.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Reduce MemoryTrace overhead with preallocated stores
  src/bnsyn/memory/consolidator.py
  src/bnsyn/memory/trace.py
Due: pydocstyle, regenerate-inventory

Preserve float64 trace contract and add dtype regression test
  src/bnsyn/memory/trace.py
  tests/test_memory_trace_unit.py
Due: pydocstyle, regenerate-inventory

Raise coverage for MemoryTrace initialization and remove_at branches
  tests/test_memory_trace_unit.py
Due: pydocstyle, regenerate-inventory

Harden MemoryTrace readiness with guard/copy tests and ops doc
  docs/features/memory.md
  tests/test_memory_trace_unit.py
Due: pydocstyle, regenerate-inventory

Regenerate inventory snapshot for added docs file
  INVENTORY.json
Due: regenerate-inventory

Reformat UA assessment to DPRA evidence-locked scorecard
  artifacts/product/expert_assessment_ua.md
  proof_bundle/logs/21_all_files_snapshot.txt
Due: none

Implement paralysis-break protocol gates and fix CLI blocker
  BIO-DIGITAL-S12.yaml
  ELPEG-2026.04.md
  GHTPO-2026.02.md
  PRODUCTION_READINESS_DOSSIER.md
  artifacts/product/expert_assessment_ua.md
  manifest/repo_manifest.json
  pyproject.toml
  src/bnsyn/cli.py
  src/bnsyn/incremental.py
  src/bnsyn/provenance/manifest.py
  tests/test_cli_interactive.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Implement paralysis-break protocol gates and fix CLI blocker
  PRODUCTION_READINESS_DOSSIER.md
  artifacts/product/expert_assessment_ua.md
  manifest/repo_manifest.json
Due: regenerate-repo-manifest

Update Domain A telemetry assessment and manifest hashes
  artifacts/product/expert_assessment_ua.md
  manifest/repo_manifest.json
  proof_bundle/logs/pytest_not_validation_property.log
Due: regenerate-repo-manifest

Normalize readiness report evidence and hash anchors
  artifacts/product/expert_assessment_ua.md
  manifest/repo_manifest.json
Due: regenerate-repo-manifest

Hotfix Domain A evidence logging and manifest anchors
  artifacts/product/expert_assessment_ua.md
  manifest/repo_manifest.json
Due: regenerate-repo-manifest

Add TITAN-9 L3 deterministic validation runner
  proof_bundle/logs/mypy_strict.log
  proof_bundle/logs/pytest_not_validation_property.log
  scripts/titan9_l3_validation.py
  tests/test_titan9_l3_validation.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix warning-free deterministic provenance and module execution
  INVENTORY.json
  src/bnsyn/__init__.py
  src/bnsyn/cli.py
  src/bnsyn/provenance/manifest_builder.py
  tests/test_cli_interactive.py
  tests/test_coverage_gap_extensions.py
  tests/test_manifest_builder.py
Due: pydocstyle, regenerate-inventory

Refactor CLI import graph and deterministic lineage fallback
  src/bnsyn/__init__.py
  src/bnsyn/cli.py
  src/bnsyn/provenance/manifest_builder.py
  tests/test_cli_interactive.py
  tests/test_coverage_gap_extensions.py
  tests/test_manifest_builder.py
Due: pydocstyle, regenerate-inventory

Add API property fuzz tests and enforce safe simulation bounds
  INVENTORY.json
  proof_bundle/logs/mypy_strict.log
  proof_bundle/logs/pytest_not_validation_property.log
  scripts/titan9_l3_validation.py
  src/bnsyn/__init__.py
  src/bnsyn/cli.py
  src/bnsyn/provenance/manifest_builder.py
  src/bnsyn/sim/network.py
  tests/test_api_properties.py
  tests/test_cli_interactive.py
  tests/test_coverage_gap_extensions.py
  tests/test_manifest_builder.py
  tests/test_titan9_l3_validation.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Add deterministic repository readiness inventory artifacts
  artifacts/inventory/FULL_MAP.json
  artifacts/inventory/QUALITY.json
  artifacts/inventory/READINESS_INDEX.md
  artifacts/inventory/RIC.json
  artifacts/inventory/anchors.json
  proof_bundle/logs/files_inventory.log
  proof_bundle/logs/git_status_inventory.log
  proof_bundle/logs/inventory_scoring.log
  proof_bundle/logs/make_help.log
  proof_bundle/logs/make_lint.log
  proof_bundle/logs/make_mypy.log
  proof_bundle/logs/make_test.log
  proof_bundle/logs/python_build.log
Due: none

Harden web auth secret policy CSRF and TTL modes
  INVENTORY.json
  docs/adr/ADR-0001-web-security-perimeter.md
  docs/adr/ADR-0002-token-clock-and-entropy.md
  docs/adr/ADR-0003-secret-csrf-and-ttl-modes.md
  docs/failures/20260226_073220_baseline.md
  docs/failures/20260226_073731_make_test.md
  docs/failures/20260226_073744_make_test.md
  docs/failures/20260226_073857_make_mypy.md
  docs/failures/20260226_075012__make_test.md
  docs/failures/20260226_075504__make_test.md
  docs/failures/20260226_081744__make_mypy.md
  docs/failures/20260226_081931__make_test.md
  docs/failures/20260226_082347__make_test.md
  docs/failures/20260226_083301__make_test.md
  docs/failures/20260226_090710_make_mypy.md
  docs/failures/20260226_090809_make_test.md
  entropy/baseline.json
  entropy/current.json
  pyproject.toml
  src/bnsyn/__init__.py
  src/bnsyn/cli.py
  src/bnsyn/web/__init__.py
  src/bnsyn/web/app.py
  src/bnsyn/web/cli.py
  src/bnsyn/web/config.py
  src/bnsyn/web/db.py
  src/bnsyn/web/deps.py
  src/bnsyn/web/models.py
  src/bnsyn/web/routes_admin.py
  src/bnsyn/web/routes_auth.py
  src/bnsyn/web/routes_core.py
  src/bnsyn/web/security.py
  tests/test_web_auth.py
  tests/test_web_expiry.py
  tests/test_web_rbac.py
  tests/test_web_secret_policy.py
  tests/test_web_tenant_context.py
  tests_inventory.json
Due: pydocstyle, validate-pyproject, regenerate-inventory

Harden prod deterministic policy and logout origin checks
  INVENTORY.json
  docs/adr/ADR-0003-secret-csrf-and-ttl-modes.md
  docs/failures/20260226_092955_make_test.md
  src/bnsyn/web/config.py
  src/bnsyn/web/routes_auth.py
  tests/test_web_csrf_origin.py
  tests/test_web_deterministic_mode_policy.py
  tests/test_web_expiry_prod_mode.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

Refresh inventory and restore coverage with web internal tests
  INVENTORY.json
  tests/test_web_internal_coverage.py
Due: pydocstyle, regenerate-inventory

Regenerate lockfile and inventory snapshots
  INVENTORY.json
  requirements-lock.txt
  tests_inventory.json
Due: regenerate-inventory

build: add entropy-gate make target
  Makefile
Due: regenerate-repo-manifest

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
  regenerate-inventory: any of: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
  regenerate-repo-manifest: any of: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
