Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict, --no-implicit-optional]
        additional_dependencies: [types-all]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0
    hooks:
      - id: pylint
        args: [--rcfile=pyproject.toml, --fail-under=7.5]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: [-r, src/, -ll]

  - repo: local
    hooks:
      - id: pytest-smoke-tests
        name: pytest smoke tests
        entry: bash -c 'pytest -m "not validation" --tb=short -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: coverage-check
        name: coverage must be â‰¥85%
        entry: bash -c 'pytest --cov=src/bnsyn --cov-fail-under=85 -q'
        language: system
        stages: [commit]
        pass_filenames: false

      - id: pydocstyle
        name: check docstrings
        entry: pydocstyle src/bnsyn
        language: python
        additional_dependencies: [pydocstyle]
        types: [python]

      - id: no-pdb
        name: prevent pdb
        entry: bash -c 'grep -r "import pdb" src/ && exit 1 || exit 0'
        language: system
        pass_filenames: false

      - id: validate-pyproject
        name: validate pyproject.toml
        entry: validate-pyproject
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [validate-pyproject]


      - id: regenerate-inventory
        name: regenerate inventory snapshot
        entry: python tools/generate_inventory.py
        language: system
        pass_filenames: false
        files: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
        stages: [commit]

      - id: regenerate-repo-manifest
        name: regenerate repository manifest artifacts
        entry: python -m tools.manifest generate
        language: system
        pass_filenames: false
        files: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
        stages: [commit]
      - id: validate-bibliography
        name: validate bibliography
        entry: python -m scripts.validate_bibliography
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-claims
        name: validate claims
        entry: python -m scripts.validate_claims
        language: system
        pass_filenames: false
        stages: [commit]

ci: refresh repository manifest fingerprints
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

scripts: harden demo runner determinism and timeout
  scripts/run_quickstart_demo.py
  scripts/validate_quickstart_contract.py
Due: pydocstyle, regenerate-repo-manifest

tests: add quickstart validator helper unit tests
  scripts/run_quickstart_demo.py
  scripts/validate_quickstart_contract.py
  tests/test_quickstart_contract_validator.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

chore: refresh generated test inventory artifacts
  INVENTORY.json
  tests_inventory.json
Due: regenerate-inventory

Add launch blocker audit evidence bundle
  artifacts/audit/demo.json
  artifacts/audit/launch_blocker_report.md
  artifacts/audit/logs/01_preflight.log
  artifacts/audit/logs/02_inventory.log
  artifacts/audit/logs/03_create_env.log
  artifacts/audit/logs/04_installability.log
  artifacts/audit/logs/05_quickstart.log
  artifacts/audit/logs/06_tests.log
  artifacts/audit/logs/07_build.log
  artifacts/audit/logs/08_docs.log
  artifacts/audit/logs/09_security.log
  artifacts/audit/logs/10_ci.log
  artifacts/audit/pip-freeze.post.txt
  artifacts/audit/pip-freeze.pre.txt
Due: none

Add audit command logs to proof_bundle/logs
  proof_bundle/logs/01_preflight.log
  proof_bundle/logs/02_inventory.log
  proof_bundle/logs/03_create_env.log
  proof_bundle/logs/04_installability.log
  proof_bundle/logs/05_quickstart.log
  proof_bundle/logs/06_tests.log
  proof_bundle/logs/07_build.log
  proof_bundle/logs/08_docs.log
  proof_bundle/logs/09_security.log
  proof_bundle/logs/10_ci.log
Due: none

Harden docs and security flows for clean-clone reproducibility
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/docs.yml
  .gitignore
  Makefile
  README.md
  SECURITY.md
  artifacts/audit/repair/logs/01_baseline_repro.log
  artifacts/audit/repair/logs/02_verify_after_fix.log
  artifacts/audit/repair/logs/03_security_recheck.log
  artifacts/audit/repair/logs/04_postfix_security_build.log
  artifacts/audit/repair/logs/05_sanity_checks.log
  artifacts/audit/repair/logs/06_yaml_parse.log
  artifacts/audit/repair/logs/07_yaml_parse_fixed.log
  artifacts/audit/repair/summary.md
  docs/BUILD_DOCS.md
  docs/SECURITY_GITLEAKS.md
  proof_bundle/logs/01_baseline_repro.log
  proof_bundle/logs/02_verify_after_fix.log
  proof_bundle/logs/03_security_recheck.log
  proof_bundle/logs/04_postfix_security_build.log
  proof_bundle/logs/05_sanity_checks.log
  proof_bundle/logs/06_yaml_parse.log
  proof_bundle/logs/07_yaml_parse_fixed.log
  pyproject.toml
  scripts/ensure_gitleaks.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Sync lockfile and manifest artifacts to restore CI build and ssot gates
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  proof_bundle/logs/11_repro_ci_failures.log
  proof_bundle/logs/12_ssot_repro.log
  proof_bundle/logs/14_fix_ci_failures_retry.log
  proof_bundle/logs/17_verify_ssot_with_synced_manifest.log
Due: regenerate-inventory, regenerate-repo-manifest

Regenerate lockfile header for Python 3.11 and add CI evidence logs
  proof_bundle/logs/13_fix_ci_failures.log
  proof_bundle/logs/15_verify_ci_fixed.log
  proof_bundle/logs/16_verify_ssot_build_after_sync.log
  proof_bundle/logs/18_fix_lock_py311.log
Due: none

Fix CI gate regressions: restore workflow deps and drop transient proof artifacts
  .github/REPO_MANIFEST.md
  .github/workflows/ci-pr-atomic.yml
  Makefile
  README.md
  SECURITY.md
  manifest/repo_manifest.computed.json
  pyproject.toml
Due: validate-pyproject, regenerate-inventory, regenerate-repo-manifest

chore: add production-readiness proof bundle and fix lint blockers
  proof_bundle/logs/env_mypy_version.log
  proof_bundle/logs/env_pip_version.log
  proof_bundle/logs/env_pytest_version.log
  proof_bundle/logs/env_python_version.log
  proof_bundle/logs/env_ruff_version.log
  proof_bundle/logs/final_pytest_not_validation.log
  proof_bundle/logs/final_ruff_check.log
  proof_bundle/logs/gateA_build.log
  proof_bundle/logs/gateA_build_rerun.log
  proof_bundle/logs/gateA_cli_help.log
  proof_bundle/logs/gateA_demo_smoke.log
  proof_bundle/logs/gateA_setup.log
  proof_bundle/logs/gateB_pytest_not_validation.log
  proof_bundle/logs/gateC_mypy.log
  proof_bundle/logs/gateC_pylint.log
  proof_bundle/logs/gateC_pylint_rerun.log
  proof_bundle/logs/gateC_ruff.log
  proof_bundle/logs/gateC_ruff_rerun.log
  proof_bundle/logs/gateD_bandit.log
  proof_bundle/logs/gateD_gitleaks.log
  proof_bundle/logs/gateD_pip_audit.log
  proof_bundle/logs/gateD_pip_audit_final.log
  proof_bundle/logs/gateD_pip_audit_rerun.log
  proof_bundle/logs/gateE_docs.log
  proof_bundle/logs/gateE_docs_rerun.log
  proof_bundle/logs/gateE_quickstart_smoke.log
  proof_bundle/logs/gateF_package_install_smoke.log
  proof_bundle/logs/gateG_docker_version.log
  proof_bundle/logs/setup_install_build.log
  proof_bundle/logs/setup_install_docs_deps.log
  proof_bundle/logs/setup_install_pylint.log
  proof_bundle/logs/setup_install_security_tools.log
  proof_bundle/logs/setup_upgrade_pip.log
  proof_bundle/manifests/pip_freeze_prod_ready.txt
  proof_bundle/reports/PRODUCTION_READINESS_DOSSIER.md
  proof_bundle/reports/gate_scorecard.md
  proof_bundle/reports/inventory_map.txt
  scripts/validate_changed_paths.py
  scripts/validate_test_integrity.py
Due: pydocstyle, regenerate-repo-manifest

chore(release): eliminate launch blockers
  .github/workflows/ci-pr-atomic.yml
  LAUNCH_READINESS_REPORT.md
  Makefile
Due: regenerate-inventory, regenerate-repo-manifest

chore(release): align security gate to canonical make flow
  .github/workflows/ci-pr-atomic.yml
  LAUNCH_READINESS_REPORT.md
  Makefile
Due: regenerate-inventory, regenerate-repo-manifest

chore(ci): refresh repository manifest fingerprints
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

docs: add LPRO proof bundle baseline and gate scorecard
  artifacts/lpro/delivery/incident_process.md
  artifacts/lpro/delivery/launch_checklist.md
  artifacts/lpro/delivery/release_plan.md
  artifacts/lpro/delivery/rollout_and_rollback.md
  artifacts/lpro/delivery/runbook.md
  artifacts/lpro/delivery/sla_slo.md
  artifacts/lpro/evidence/hashes.sha256
  artifacts/lpro/inventory/entrypoints.md
  artifacts/lpro/inventory/env_matrix.md
  artifacts/lpro/inventory/inventory.json
  artifacts/lpro/logs/README.md
  artifacts/lpro/product/backlog.csv
  artifacts/lpro/product/decision_log.md
  artifacts/lpro/product/experiment_plan.md
  artifacts/lpro/product/jtbd.md
  artifacts/lpro/product/metrics_spec.md
  artifacts/lpro/product/personas.md
  artifacts/lpro/product/positioning.md
  artifacts/lpro/product/prd.md
  artifacts/lpro/product/pricing_packaging.md
  artifacts/lpro/product/roadmap.md
  artifacts/lpro/scorecard/scorecard.json
  artifacts/lpro/scorecard/scorecard.md
  artifacts/lpro/standards/standards_manifest.json
  proof_bundle/logs/phase1_cuj_demo.log
  proof_bundle/logs/phase1_install.log
  proof_bundle/logs/phase1_pytest.log
  proof_bundle/logs/phase2_build.log
  proof_bundle/logs/phase2_build_install.log
  proof_bundle/logs/phase2_mypy.log
  proof_bundle/logs/phase2_pylint.log
  proof_bundle/logs/phase2_ruff.log
  proof_bundle/logs/session.log
Due: none

Add launch-readiness product artifact bundle and gate scorecard
  .gitignore
  artifacts/product/PRD.md
  artifacts/product/PROD_READINESS.md
  artifacts/product/analytics_plan.md
  artifacts/product/assumptions.md
  artifacts/product/backlog.md
  artifacts/product/compliance_notes.md
  artifacts/product/decision_log.md
  artifacts/product/evidence/comms/launch_comms.md
  artifacts/product/evidence/comms/onboarding.md
  artifacts/product/evidence/logs/baseline_build_run.log
  artifacts/product/evidence/logs/baseline_checks.log
  artifacts/product/evidence/logs/reliability_checks.log
  artifacts/product/evidence/screenshots_or_exports/happy_path.json
  artifacts/product/inventory.json
  artifacts/product/launch_comms.md
  artifacts/product/launch_plan.md
  artifacts/product/metrics.md
  artifacts/product/onboarding.md
  artifacts/product/positioning.md
  artifacts/product/release_checklist.md
  artifacts/product/risk_register.md
  artifacts/product/roadmap.md
  artifacts/product/scorecard.json
  artifacts/product/security_privacy_review.md
  artifacts/product/support_runbook.md
  artifacts/product/user_journeys.md
  artifacts/product/ux_review.md
  proof_bundle/logs/baseline_inputs.log
  proof_bundle/logs/context_scan.log
  proof_bundle/logs/lrx_execution.log
Due: none

Fix CLI invalid-input UX and add merge-readiness evidence bundle
  .gitignore
  MERGE_READINESS.md
  artifacts/merge_ready/inventory.json
  artifacts/merge_ready/logs/00_baseline_build.log
  artifacts/merge_ready/logs/00_baseline_docs.log
  artifacts/merge_ready/logs/00_baseline_hygiene.log
  artifacts/merge_ready/logs/00_baseline_install.log
  artifacts/merge_ready/logs/00_baseline_lint_pylint.log
  artifacts/merge_ready/logs/00_baseline_lint_ruff.log
  artifacts/merge_ready/logs/00_baseline_mypy.log
  artifacts/merge_ready/logs/00_baseline_quickstart.log
  artifacts/merge_ready/logs/00_baseline_reliability.log
  artifacts/merge_ready/logs/00_baseline_security.log
  artifacts/merge_ready/logs/00_baseline_tests.log
  artifacts/merge_ready/logs/01_remediate_install_build_pkg.log
  artifacts/merge_ready/logs/01_rerun_build.log
  artifacts/merge_ready/logs/01_targeted_cli_test.log
  artifacts/merge_ready/logs/99_final_git_state.log
  artifacts/merge_ready/manifests/evidence.sha256
  artifacts/merge_ready/proofs/happy_path.json
  artifacts/merge_ready/proofs/invalid_stderr.txt
  artifacts/merge_ready/proofs/invalid_stdout.txt
  artifacts/merge_ready/reports/final_repo_state.txt
  artifacts/merge_ready/reports/gate_scorecard.json
  artifacts/merge_ready/toolchain.txt
  proof_bundle/logs/mri_execution.log
  src/bnsyn/cli.py
  tests/test_cli_interactive.py
Due: pydocstyle, regenerate-inventory

Raise coverage gate by expanding CLI error-path tests
  proof_bundle/logs/remediation.log
  tests/test_cli_interactive.py
Due: pydocstyle, regenerate-inventory

Align setup toolchain with lint/build gates and add DSE evidence bundle
  artifacts/dse/inventory/critical_paths.md
  artifacts/dse/inventory/public_surfaces.md
  artifacts/dse/inventory/repo_map.json
  artifacts/dse/inventory/risk_register.md
  artifacts/dse/logs/baseline_env.log
  artifacts/dse/logs/build.log
  artifacts/dse/logs/build_after_patch.log
  artifacts/dse/logs/make_setup.log
  artifacts/dse/logs/make_setup_after_build_dep.log
  artifacts/dse/logs/make_setup_after_patch.log
  artifacts/dse/logs/mypy.log
  artifacts/dse/logs/pylint.log
  artifacts/dse/logs/pylint_after_patch.log
  artifacts/dse/logs/pytest_not_validation.log
  artifacts/dse/logs/pytest_not_validation_post_patch.log
  artifacts/dse/logs/ruff.log
  artifacts/dse/logs/ruff_after_patch.log
  artifacts/dse/reports/gate_scoreboard.md
  artifacts/dse/ric/20260218T103943Z_ric.md
  artifacts/dse/ric/20260218T103943Z_truth_map.json
  proof_bundle/logs/dse_baseline_env.log
  proof_bundle/logs/dse_build.log
  proof_bundle/logs/dse_build_after_patch.log
  proof_bundle/logs/dse_docs_list.log
  proof_bundle/logs/dse_make_setup.log
  proof_bundle/logs/dse_make_setup_after_build_dep.log
  proof_bundle/logs/dse_make_setup_after_patch.log
  proof_bundle/logs/dse_makefile_inspect.log
  proof_bundle/logs/dse_merge_gates_inspect.log
  proof_bundle/logs/dse_mypy.log
  proof_bundle/logs/dse_pylint.log
  proof_bundle/logs/dse_pylint_after_patch.log
  proof_bundle/logs/dse_pyproject_grep.log
  proof_bundle/logs/dse_pytest_not_validation.log
  proof_bundle/logs/dse_pytest_not_validation_post_patch.log
  proof_bundle/logs/dse_ruff.log
  proof_bundle/logs/dse_ruff_after_patch.log
  proof_bundle/logs/dse_workflows_list.log
  pyproject.toml
Due: validate-pyproject

Fix lockfile compile step with allow-unsafe and refresh lock
  .github/workflows/ci-pr-atomic.yml
  docs/TESTING.md
  requirements-lock.txt
Due: regenerate-inventory, regenerate-repo-manifest

Regenerate repo manifest after lock/setup updates
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Add deterministic context compressor artifact bundle
  artifacts/context_compressor/CONTRACTS.md
  artifacts/context_compressor/DELTAS/current_kg.sha256
  artifacts/context_compressor/DELTAS/previous_kg.sha256
  artifacts/context_compressor/DELTAS/summary.md
  artifacts/context_compressor/KG.json
  artifacts/context_compressor/LLM_CONTEXT.md
  artifacts/context_compressor/RIC_REPORT.md
  artifacts/context_compressor/RIC_TRUTH_MAP.json
  artifacts/context_compressor/SSOT.md
  artifacts/context_compressor/quality.json
  proof_bundle/logs/00_inventory_head.log
  proof_bundle/logs/01_key_files.log
  proof_bundle/logs/02_key_content.log
  proof_bundle/logs/03_docs_workflows.log
  proof_bundle/logs/04_symbol_scan.log
  proof_bundle/logs/05_entrypoints.log
  proof_bundle/logs/06_line_refs.log
  proof_bundle/logs/07_generate_context_compressor.log
  proof_bundle/logs/08_validate_artifacts.log
  proof_bundle/logs/09_pytest_not_validation.log
  proof_bundle/logs/10_artifact_list.log
  proof_bundle/logs/11_llm_context_lines.log
  proof_bundle/logs/12_ssot_lines.log
  proof_bundle/logs/13_contracts_lines.log
  proof_bundle/logs/14_ric_report_lines.log
  proof_bundle/logs/15_quality_lines.log
  proof_bundle/logs/16_ric_truth_lines.log
Due: none

Add deterministic scientific-product gate and phase atlas artifacts
  .github/workflows/scientific_product_gate.yml
  AGENTS.md
  INVENTORY.json
  artifacts/context_compressor/RIC_REPORT.md
  artifacts/context_compressor/quality.json
  artifacts/scientific_product/PHASE_ATLAS.json
  artifacts/scientific_product/REGRESSION_BASELINES/phase_atlas_small.json
  artifacts/scientific_product/REPRODUCIBILITY.md
  artifacts/scientific_product/quality.json
  proof_bundle/logs/artifacts_find.log
  proof_bundle/logs/context_existing.log
  proof_bundle/logs/generate_inventory.log
  proof_bundle/logs/git_status.log
  proof_bundle/logs/git_status_final.log
  proof_bundle/logs/inventory_files.log
  proof_bundle/logs/mypy_strict.log
  proof_bundle/logs/phase_atlas.log
  proof_bundle/logs/phase_atlas_generate.log
  proof_bundle/logs/pip_install_build.log
  proof_bundle/logs/pip_install_hypothesis.log
  proof_bundle/logs/pip_install_psutil.log
  proof_bundle/logs/pytest_not_validation_or_property.log
  proof_bundle/logs/pytest_scientific_product.log
  proof_bundle/logs/pytest_targeted_scientific_gate.log
  proof_bundle/logs/python_build.log
  proof_bundle/logs/read_criticality.log
  proof_bundle/logs/read_llm_context.log
  proof_bundle/logs/read_makefile_testing.log
  proof_bundle/logs/read_sim_network.log
  proof_bundle/logs/read_simulation.log
  proof_bundle/logs/read_truth_map.log
  proof_bundle/logs/rg_phase.log
  proof_bundle/logs/ruff_check_all.log
  proof_bundle/logs/ruff_new_files.log
  proof_bundle/logs/workflow_pin_scan.log
  schemas/phase_atlas.schema.json
  scripts/phase_atlas.py
  tests/test_scientific_product_gate.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix workflow-contract blockers for scientific product gate
  .github/PR_GATES.yml
  .github/REQUIRED_CHECKS.yml
  .github/WORKFLOW_CONTRACTS.md
  INVENTORY.json
  proof_bundle/logs/fix_workflow_contracts_discovery.log
  proof_bundle/logs/git_status_after_fixes.log
  proof_bundle/logs/git_status_before_commit_fix2.log
  proof_bundle/logs/git_status_staged_fix2.log
  proof_bundle/logs/install_hypothesis_and_regen_inventory.log
  proof_bundle/logs/nl_changed_files_for_citations.log
  proof_bundle/logs/pip_install_psutil_again.log
  proof_bundle/logs/pytest_fast_after_contract_fix.log
  proof_bundle/logs/pytest_inventory_and_collection.log
  proof_bundle/logs/pytest_scientific_product_after_fix.log
  proof_bundle/logs/pytest_workflow_contract_suite.log
  proof_bundle/logs/read_context_quality_current.log
  proof_bundle/logs/read_makefile_ssot.log
  proof_bundle/logs/read_pr_gates_and_required_checks.log
  proof_bundle/logs/read_render_workflow_policy_docs.log
  proof_bundle/logs/read_required_checks_files.log
  proof_bundle/logs/read_scientific_product_workflow.log
  proof_bundle/logs/read_validate_long_running.log
  proof_bundle/logs/read_validate_pr_gates.log
  proof_bundle/logs/read_validate_workflow_contracts.log
  proof_bundle/logs/read_validate_workflow_contracts_rules.log
  proof_bundle/logs/read_workflow_contracts_top.log
  proof_bundle/logs/read_workflow_integrity_yml.log
  proof_bundle/logs/rg_tests_workflow_contracts.log
  proof_bundle/logs/sync_required_status_contexts_apply.log
  proof_bundle/logs/sync_required_status_contexts_check.log
  proof_bundle/logs/validate_long_running_triggers.log
  proof_bundle/logs/validate_pr_and_required_plain.log
  proof_bundle/logs/validate_pr_gate_family.log
  proof_bundle/logs/validate_workflow_contract_family_after_fix.log
  proof_bundle/logs/validate_workflow_contracts_after_fix.log
  proof_bundle/logs/validate_workflow_contracts_before_fix.log
  proof_bundle/logs/validate_workflow_contracts_plain.log
Due: regenerate-inventory, regenerate-repo-manifest

Fix manifest, tri-fix, branch-governance, and phase-atlas stability blockers
  .github/REPO_MANIFEST.md
  .github/workflows/scientific_product_gate.yml
  artifacts/scientific_product/PHASE_ATLAS.json
  artifacts/scientific_product/REGRESSION_BASELINES/phase_atlas_small.json
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
  proof_bundle/logs/fix4_git_status_before_commit.log
  proof_bundle/logs/fix4_git_status_staged.log
  proof_bundle/logs/fix4_initial_state.log
  proof_bundle/logs/fix4_list_tools.log
  proof_bundle/logs/fix4_make_test_gate.log
  proof_bundle/logs/fix4_manifest_generate_validate.log
  proof_bundle/logs/fix4_nl_changed_files.log
  proof_bundle/logs/fix4_nl_manifest_outputs.log
  proof_bundle/logs/fix4_nl_phase_atlas.log
  proof_bundle/logs/fix4_nl_test_logs.log
  proof_bundle/logs/fix4_read_branch_governance_doc.log
  proof_bundle/logs/fix4_read_manifest_generate_validate.log
  proof_bundle/logs/fix4_read_manifest_ssot_branchgov.log
  proof_bundle/logs/fix4_read_manifest_tool.log
  proof_bundle/logs/fix4_read_phase_atlas_and_tests.log
  proof_bundle/logs/fix4_read_trifix_invariants.log
  proof_bundle/logs/fix4_regen_phase_atlas_after_hash_fix.log
  proof_bundle/logs/fix4_regen_phase_atlas_and_manifest.log
  proof_bundle/logs/fix4_repro_failures.log
  proof_bundle/logs/fix4_revalidate_after_patches.log
  proof_bundle/logs/fix4_ruff_mypy.log
  proof_bundle/logs/fix4_validate_all_four_and_contracts.log
  proof_bundle/logs/fix4_validate_workflow_governance_suite.log
Due: regenerate-inventory, regenerate-repo-manifest

Add canonical API/smoke path and operational readiness gates
  .github/workflows/context_compressor_gate.yml
  .github/workflows/scientific_product_gate.yml
  INVENTORY.json
  artifacts/operational_readiness/ENV_MATRIX.json
  artifacts/operational_readiness/RUNBOOK.md
  artifacts/operational_readiness/SBOM.json
  artifacts/operational_readiness/SMOKE_REPORT.json
  artifacts/operational_readiness/quality.json
  scripts/phase_atlas.py
  src/bnsyn/__init__.py
  src/bnsyn/api.py
  src/bnsyn/cli.py
  tests/test_api_surface.py
  tests/test_cli_smoke_command.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Regenerate manifest and inventory for new workflow counts
  .github/REPO_MANIFEST.md
  INVENTORY.json
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Fix coverage, workflow contracts, and phase atlas baseline drift
  .github/WORKFLOW_CONTRACTS.md
  artifacts/scientific_product/PHASE_ATLAS.json
  artifacts/scientific_product/REGRESSION_BASELINES/phase_atlas_small.json
  quality/coverage_gate.json
  tests/test_api_surface.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Align context gate triggers with workflow contracts and regenerate manifest
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/context_compressor_gate.yml
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Harden benchmark metrics memory probe and restore local quality gates
  proof_bundle/logs/024_git_log_recent.log
  proof_bundle/logs/025_git_status_start.log
  proof_bundle/logs/026_dep_search.log
  proof_bundle/logs/027_view_benchmarks_metrics.log
  proof_bundle/logs/028_view_test_regression.log
  proof_bundle/logs/029_create_metrics_fallback_test.log
  proof_bundle/logs/030_diff_metrics_and_test.log
  proof_bundle/logs/031_pytest_new_test.log
  proof_bundle/logs/032_pip_install_editable.log
  proof_bundle/logs/033_pip_install_missing_tools.log
  proof_bundle/logs/034_pytest_full_after_fix.log
  proof_bundle/logs/035_pip_install_hypothesis.log
  proof_bundle/logs/036_pytest_full_after_deps.log
  proof_bundle/logs/037_ruff_after_fix.log
  proof_bundle/logs/038_pylint_after_fix.log
  proof_bundle/logs/039_mypy_after_fix.log
  proof_bundle/logs/040_build_after_fix.log
  proof_bundle/logs/041_git_status_before_commit.log
  proof_bundle/logs/042_nl_metrics.log
  proof_bundle/logs/043_nl_test_metrics_fallback.log
  proof_bundle/logs/044_nl_pytest_tail.log
  proof_bundle/logs/045_nl_ruff.log
  proof_bundle/logs/046_nl_pylint_tail.log
  proof_bundle/logs/047_nl_mypy.log
  proof_bundle/logs/048_nl_build_tail.log
  proof_bundle/logs/049_git_commit_fix.log
  tests/benchmarks/test_metrics_memory_fallback.py
Due: pydocstyle, regenerate-inventory

Regenerate INVENTORY and restore test-gate consistency
  INVENTORY.json
  proof_bundle/logs/050_validate_trifix_invariants_before_fix.log
  proof_bundle/logs/051_generate_inventory.log
  proof_bundle/logs/052_generate_inventory_check.log
  proof_bundle/logs/053_pytest_after_inventory_fix.log
  proof_bundle/logs/054_ruff_after_inventory_fix.log
  proof_bundle/logs/055_pylint_after_inventory_fix.log
  proof_bundle/logs/056_mypy_after_inventory_fix.log
  proof_bundle/logs/057_build_after_inventory_fix.log
  proof_bundle/logs/058_install_dev_tools_again.log
  proof_bundle/logs/059_ruff_final.log
  proof_bundle/logs/060_pylint_final.log
  proof_bundle/logs/061_mypy_final.log
  proof_bundle/logs/062_build_final.log
  proof_bundle/logs/063_validate_trifix_invariants_after_fix.log
  proof_bundle/logs/064_git_status_pre_commit.log
  proof_bundle/logs/065_nl_inventory_updated.log
  proof_bundle/logs/066_git_commit_inventory_fix.log
Due: regenerate-inventory

Add perfection gate pipeline and evidence artifacts
  .github/REPO_MANIFEST.md
  .github/workflows/perfection-gate.yml
  INVENTORY.json
  artifacts/prod_ready/reports/sbom.cdx.json
  entropy/baseline.json
  entropy/current.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/entropy_baseline.log
  proof_bundle/logs/entropy_current.log
  proof_bundle/logs/entropy_gate_help.log
  proof_bundle/logs/generate_inventory.log
  proof_bundle/logs/generate_tests_inventory.log
  proof_bundle/logs/git_commit_amend.log
  proof_bundle/logs/initial_assessment.log
  proof_bundle/logs/make_mypy.log
  proof_bundle/logs/make_perfection_gate.log
  proof_bundle/logs/manifest_generate.log
  proof_bundle/logs/mypy_after_changes.log
  proof_bundle/logs/mypy_non_strict.log
  proof_bundle/logs/perfection_quality_json.log
  proof_bundle/logs/pip_install_gate_deps.log
  proof_bundle/logs/pytest_coverage.log
  proof_bundle/logs/pytest_not_validation_property.log
  proof_bundle/logs/read_makefile.log
  proof_bundle/logs/ruff_check_after_adex_fix.log
  proof_bundle/logs/ruff_check_after_changes.log
  proof_bundle/logs/ruff_check_perfection_script.log
  scripts/perfection_gate.py
  src/bnsyn/neuron/adex.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Implement launch-gate pipeline and CI merge-block integration
  .github/REPO_MANIFEST.md
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/launch-gate.yml
  .github/workflows/release-pipeline.yml
  INVENTORY.json
  Makefile
  docs/RUNBOOK.md
  entropy/baseline.json
  entropy/current.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  manifest/repo_manifest.computed.json
  proof_bundle/logs/bnsyn_help_launch.log
  proof_bundle/logs/context_quality_final.log
  proof_bundle/logs/entropy_baseline_launch_fix.log
  proof_bundle/logs/entropy_current_launch_fix.log
  proof_bundle/logs/generate_inventory_launch_fix.log
  proof_bundle/logs/launch_gate_artifacts_list.log
  proof_bundle/logs/launch_quality_final.log
  proof_bundle/logs/make_launch_gate.log
  proof_bundle/logs/make_perfection_gate_after_launch.log
  proof_bundle/logs/manifest_generate_launch_fix.log
  proof_bundle/logs/perfection_quality_after_launch.log
  proof_bundle/logs/pytest_actions_pinning_launch.log
  proof_bundle/logs/release_pipeline_help_launch.log
  proof_bundle/logs/ruff_final_launch.log
  proof_bundle/logs/scientific_quality_final.log
  proof_bundle/logs/yaml_parse_workflows_launch.log
  scripts/fingerprint_repo.py
  scripts/launch_gate.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden launch gate determinism checks and required tooling
  INVENTORY.json
  docs/SSOT.md
  evidence/entropy_gate/commands.log
  proof_bundle/logs/current_head_check.log
  proof_bundle/logs/integrated_quality_values.log
  proof_bundle/logs/launch_quality_final_pass.log
  proof_bundle/logs/launch_required_files_check.log
  proof_bundle/logs/make_launch_gate_final.log
  proof_bundle/logs/make_launch_gate_refactor.log
  proof_bundle/logs/pytest_actions_pinning_after_refactor.log
  proof_bundle/logs/pytest_inventory_entropy.log
  proof_bundle/logs/python_launch_gate_direct.log
  proof_bundle/logs/ruff_launch_gate_branch_fix.log
  proof_bundle/logs/ruff_launch_gate_remove_perfection_cmd.log
  proof_bundle/logs/ruff_launch_refactor.log
  scripts/env_snapshot.py
  scripts/install_smoke.py
  scripts/launch_gate.py
  scripts/ric_check.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Add SMLRS semantic-mining gate and CI workflow
  .github/workflows/smlrs_gate.yml
  INVENTORY.json
  Makefile
  entropy/baseline.json
  entropy/current.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  proof_bundle/logs/make_smlrs_gate.log
  proof_bundle/logs/pytest_actions_pinning_smlrs.log
  proof_bundle/logs/ruff_smlrs_gate_fix.log
  proof_bundle/logs/ruff_smlrs_scripts.log
  proof_bundle/logs/smlrs_evidence_head.log
  proof_bundle/logs/smlrs_go_no_go.log
  proof_bundle/logs/smlrs_quality_final.log
  proof_bundle/logs/yaml_parse_smlrs_workflow.log
  scripts/semantic_mine.py
  scripts/smlrs_gate.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Add DSIO deterministic gate and semantic intelligence workflow
  .github/workflows/dsio_gate.yml
  INVENTORY.json
  Makefile
  entropy/baseline.json
  entropy/current.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  proof_bundle/logs/context_quality_after_dsio.log
  proof_bundle/logs/dsio_quality_final.log
  proof_bundle/logs/launch_quality_after_dsio.log
  proof_bundle/logs/make_dsio_gate.log
  proof_bundle/logs/perfection_quality_after_dsio.log
  proof_bundle/logs/pytest_actions_pinning_dsio.log
  proof_bundle/logs/ruff_dsio_scripts.log
  proof_bundle/logs/scientific_quality_after_dsio.log
  proof_bundle/logs/smlrs_quality_after_dsio.log
  proof_bundle/logs/yaml_parse_dsio_workflow.log
  scripts/dsio_gate.py
  scripts/dsio_semantic.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest
