Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

Implement iterative stabilization across intelligence cycle stages
  scripts/intelligence_cycle.py
Due: pydocstyle

Fix hypothesis-optional collection and refresh math audit artifacts
  artifacts/math_audit/manifest.json
  artifacts/math_audit/validator_report.json
  artifacts/math_audit/validator_report.md
  tests/test_math_invariants.py
Due: pydocstyle

Stabilize math invariant manifest test without artifact churn
  tests/test_math_invariants.py
Due: pydocstyle

docs: add cycle 0 placeholder baseline inventory
  docs/PLACEHOLDER_BASELINE_CYCLE0.md
  docs/PLACEHOLDER_REGISTRY.md
Due: none

chore: regenerate inventory after docs baseline addition
  INVENTORY.json
Due: none

Finalize Cycle 1 placeholder registry and closure artifacts
  docs/PLACEHOLDER_REGISTRY.md
  docs/placeholder_cycles/cycle1/acceptance_map.yaml
  docs/placeholder_cycles/cycle1/plan.md
  docs/placeholder_cycles/cycle1/worklist.json
Due: none

Regenerate inventory after Cycle 1 docs additions
  INVENTORY.json
Due: none

Enforce CLOSED PH registry contracts and validation seams
  INVENTORY.json
  docs/PLACEHOLDER_REGISTRY.md
  docs/placeholder_cycles/cycle1/acceptance_map.yaml
  docs/placeholder_cycles/cycle1/plan.md
  docs/placeholder_cycles/cycle1/worklist.json
  tests/test_scan_placeholders.py
Due: pydocstyle

docs: add fractal current-state audit and stage assessment
  docs/CURRENT_STATE_FRACTAL_AUDIT.md
Due: none

Harden gate validators and add UA launch blocker plan
  docs/LAUNCH_BLOCKERS_UA.md
  scripts/validate_pr_gates.py
  scripts/validate_workflow_contracts.py
Due: pydocstyle

Close placeholder registry artifacts and validation evidence
  acceptance_map.yaml
  docs/PLACEHOLDER_REGISTRY.md
  evidence/placeholder_closure/baseline.json
  evidence/placeholder_closure/ci.json
  evidence/placeholder_closure/per_batch/PH_BATCH_01.json
  evidence/placeholder_closure/per_batch/PH_BATCH_02.json
  evidence/placeholder_closure/ph_regression_tests.log
  evidence/placeholder_closure/post_fix_tests.log
  evidence/placeholder_closure/pre_fix_failure.log
  evidence/placeholder_closure/scan_baseline.txt
  evidence/placeholder_closure/scan_final.json
  evidence/placeholder_closure/scan_final.txt
  evidence/placeholder_closure/test_cmd.log
  plan.md
  tests/test_scan_placeholders.py
  worklist.json
Due: pydocstyle

Add guard test for zero open placeholders
  tests/test_scan_placeholders.py
Due: pydocstyle

Add entropy calibration ledger, metrics bundle, and guard
  docs/ENTROPY_LEDGER.md
  entropy/__init__.py
  entropy/acceptance_map.yaml
  entropy/commands.log
  entropy/guards/__init__.py
  entropy/guards/check_entropy_artifacts.py
  entropy/metrics.json
  evidence/entropy/baseline.json
  evidence/entropy/final.json
  evidence/entropy/per_cycle/CYCLE_1.json
  tests/test_entropy_artifacts_guard.py
Due: pydocstyle

Regenerate inventory after entropy artifacts additions
  INVENTORY.json
Due: none

Add deterministic entropy gate metrics baseline and pytest policy guard
  entropy/baseline.json
  entropy/current.json
  entropy/policy.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  tests/test_entropy_gate.py
  tools/entropy_gate/__init__.py
  tools/entropy_gate/__main__.py
  tools/entropy_gate/compute_metrics.py
Due: pydocstyle

Regenerate inventory after entropy gate test addition
  INVENTORY.json
Due: none

Pin GitHub Actions and harden entropy gate determinism policy
  .github/workflows/_reusable_benchmarks.yml
  .github/workflows/_reusable_chaos_tests.yml
  .github/workflows/_reusable_formal_science.yml
  .github/workflows/_reusable_property_tests.yml
  .github/workflows/_reusable_pytest.yml
  .github/workflows/_reusable_quality.yml
  .github/workflows/_reusable_ssot.yml
  .github/workflows/_reusable_validation_tests.yml
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-watch.yml
  .github/workflows/docs.yml
  .github/workflows/math-quality-gate.yml
  .github/workflows/physics-equivalence.yml
  .github/workflows/quality-mutation.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/workflow-integrity.yml
  entropy/baseline.json
  entropy/current.json
  entropy/policy.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  pyproject.toml
  requirements-lock.txt
Due: validate-pyproject

chore(entropy): refresh execution evidence chain
  evidence/entropy_gate/commands.log
Due: none

chore(entropy): align pr_216 after-sha evidence with final commit
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/dependency-watch.yml
  entropy/current.json
  entropy/policy.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  evidence/entropy_gate/final_metrics.json
  evidence/pr_216/after.commands.log
  evidence/pr_216/after.entropy.json
  evidence/pr_216/after.sha
  evidence/pr_216/after.workflow_scan.txt
  evidence/pr_216/before.commands.log
  evidence/pr_216/before.entropy.json
  evidence/pr_216/before.sha
  evidence/pr_216/before.workflow_unpinned_scan.txt
  tools/entropy_gate/compute_metrics.py
Due: pydocstyle

fix(ci): restore reusable PR checks by removing invalid job timeout keys
  .github/workflows/ci-pr-atomic.yml
Due: none

chore(manifest): regenerate repository fingerprint artifacts
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: none

Harden deterministic test surfaces and CI entropy controls
  .github/workflows/ci-validation.yml
  PR_DESCRIPTION.md
  evidence/tests_upgrade/before_after_metrics.json
  evidence/tests_upgrade/changes.diff
  evidence/tests_upgrade/determinism_triple_run.sha256
  evidence/tests_upgrade/entropy_gate_diff.json
  evidence/tests_upgrade/execution_log.txt
  evidence/tests_upgrade/new_invariants.md
  scripts/generate_tests_inventory.py
  tests/test_principal_test_hardening.py
  tests_inventory.json
Due: pydocstyle

Enforce no-escape contract gates and reproducibility proofs
  .github/workflows/ci-pr-atomic.yml
  INVENTORY.json
  acceptance_map.yaml
  evidence/zqsg_2026_02_12/bandit.json
  evidence/zqsg_2026_02_12/calibration_plan.md
  evidence/zqsg_2026_02_12/commands.txt
  evidence/zqsg_2026_02_12/escape_analysis.md
  evidence/zqsg_2026_02_12/pip_version.txt
  evidence/zqsg_2026_02_12/pytest_full.log
  evidence/zqsg_2026_02_12/quality_surface_map.md
  evidence/zqsg_2026_02_12/repro_report.json
  evidence/zqsg_2026_02_12/repro_spec.json
  evidence/zqsg_2026_02_12/repro_stdout.txt
  evidence/zqsg_2026_02_12/sha256_manifest.txt
  scripts/verify_reproducible_artifacts.py
  tests/test_actions_pinning.py
  tests/test_no_escape_tripwires.py
  tests/test_principal_test_hardening.py
  tests/test_schema_contracts.py
  tests/test_verify_reproducible_artifacts.py
  tests_inventory.json
Due: pydocstyle

chore(inventory): enforce deterministic inventory contract
  .github/workflows/workflow-integrity.yml
  .pre-commit-config.yaml
  INVENTORY.json
  evidence/inventory_fix/baseline.txt
  evidence/inventory_fix/determinism.txt
  evidence/inventory_fix/fix_steps.txt
  evidence/inventory_fix/inventory.diff
  evidence/inventory_fix/inventory.sha256.1
  evidence/inventory_fix/inventory.sha256.2
  evidence/inventory_fix/pytest_generate_inventory.txt
Due: none

chore(manifest): enforce deterministic manifest contract
  .github/REPO_MANIFEST.md
  .github/workflows/ci-pr-atomic.yml
  .pre-commit-config.yaml
  evidence/manifest_fix/determinism.txt
  evidence/manifest_fix/manifest.sha256.1
  evidence/manifest_fix/manifest.sha256.2
  manifest/repo_manifest.computed.json
Due: none

ci: expand PR gating with conditional validation/property/docs and dependency review
  .github/CI_SLO.md
  .github/PR_GATES.yml
  .github/REQUIRED_CHECKS.yml
  .github/WORKFLOW_CONTRACTS.md
  .github/pull_request_template.md
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/dependency-review.yml
  .github/workflows/workflow-integrity.yml
Due: none

ci: fix PR gate regressions (action pinning, manifest hash, inventory sync)
  .github/REPO_MANIFEST.md
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/dependency-review.yml
  INVENTORY.json
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
Due: none

ci: fix paths-filter pin to resolvable commit for PR changes job
  .github/REPO_MANIFEST.md
  .github/workflows/ci-pr-atomic.yml
  manifest/repo_manifest.computed.json
Due: none

ci: add branch-protection governance baseline and required status-context validation
  .github/BRANCH_PROTECTION_GOVERNANCE.md
  .github/PR_GATES.yml
  .github/REPO_MANIFEST.md
  .github/REQUIRED_STATUS_CONTEXTS.yml
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/ci-pr-atomic.yml
  .github/workflows/workflow-integrity.yml
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
  scripts/validate_branch_protection_governance.py
  scripts/validate_required_status_contexts.py
Due: pydocstyle

chore: sync INVENTORY.json after governance files addition
  INVENTORY.json
Due: none

Refactor sleep-stack CLI flow and crystallizer observe path
  src/bnsyn/cli.py
  src/bnsyn/emergence/crystallizer.py
Due: pydocstyle

Expand regression coverage for sleep-stack CLI helpers
  tests/test_cli_unit.py
Due: pydocstyle

Tighten refactor quality gates and documentation
  src/bnsyn/cli.py
  src/bnsyn/cli/__init__.py
  src/bnsyn/cli/args.py
  src/bnsyn/cli/commands.py
  src/bnsyn/cli/dispatch.py
  src/bnsyn/cli/version.py
  src/bnsyn/emergence/crystallizer.py
  src/bnsyn/emergence/crystallizer/__init__.py
  src/bnsyn/emergence/crystallizer/core.py
  src/bnsyn/emergence/crystallizer/steps.py
  src/bnsyn/emergence/crystallizer/types.py
  src/bnsyn/emergence/crystallizer/validate.py
Due: pydocstyle

ci: add deterministic changed-file gating for PR atomic workflow
  .github/workflows/ci-pr-atomic.yml
Due: none

ci: refine deterministic PR change classifier outputs
  .github/workflows/ci-pr-atomic.yml
Due: none

ci: harden PR merge-gate verdict and API-based change classification
  .github/workflows/ci-pr-atomic.yml
Due: none

ci: close merge-gate fail-closed mapping gaps
  .github/workflows/ci-pr-atomic.yml
Due: none

ci: extract PR change classification into tested script
  .github/workflows/ci-pr-atomic.yml
  scripts/classify_changes.py
  tests/test_classify_changes.py
Due: pydocstyle

ci: harden classifier API retries and failure tests
  scripts/classify_changes.py
  tests/test_classify_changes.py
Due: pydocstyle

ci: harden classifier quality, retries, and RFC contract
  .github/workflows/ci-pr-atomic.yml
  docs/rfc/ci-classifier.md
  scripts/classify_changes.py
  tests/test_classify_changes.py
Due: pydocstyle

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
