Repository neuron7x/bnsyn-phase-controlled-emergent-dynamics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

pydocstyle:
  name: check docstrings
  entry: pydocstyle src/bnsyn
  language: python
  additional_dependencies:
  - pydocstyle

validate-pyproject:
  name: validate pyproject.toml
  entry: validate-pyproject
  language: python
  additional_dependencies:
  - validate-pyproject

regenerate-inventory:
  name: regenerate inventory snapshot
  entry: python tools/generate_inventory.py
  language: system
  pass_filenames: false
  stages:
  - commit

regenerate-repo-manifest:
  name: regenerate repository manifest artifacts
  entry: python -m tools.manifest generate
  language: system
  pass_filenames: false
  stages:
  - commit

Harden pytest diagnostics runner, schema fallback, and CI publication
  .github/workflows/_reusable_pytest.yml
  INVENTORY.json
  docs/engineering/PYTEST_FAILURE_DIAGNOSTICS.md
  schemas/pytest-failure-diagnostics.schema.json
  scripts/aggregate_pytest_failures.py
  scripts/run_pytest_with_diagnostics.py
  src/bnsyn/qa/pytest_failure_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
  tests/test_pytest_failure_diagnostics_runner.py
  tests/test_pytest_failure_diagnostics_schema.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden diagnostics tail log parsing and strict local exit semantics
  scripts/run_pytest_with_diagnostics.py
  src/bnsyn/qa/pytest_failure_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
  tests/test_pytest_failure_diagnostics_runner.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Align diagnostics exit contract and authoritative workflow result naming
  .github/workflows/_reusable_pytest.yml
  docs/engineering/PYTEST_FAILURE_DIAGNOSTICS.md
  scripts/run_pytest_with_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
  tests/test_pytest_failure_diagnostics_runner.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix bandit XML parsing finding and refresh repo manifest
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
  src/bnsyn/qa/pytest_failure_diagnostics.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix CI blockers for diagnostics import and coverage artifact gating
  .github/REPO_MANIFEST.md
  .github/workflows/_reusable_pytest.yml
  manifest/repo_manifest.computed.json
  src/bnsyn/qa/pytest_failure_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
  tests/test_pytest_failure_diagnostics_runner.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Fix authoritative failure artifact upload condition in reusable pytest workflow
  .github/REPO_MANIFEST.md
  .github/workflows/_reusable_pytest.yml
  manifest/repo_manifest.computed.json
  tests/test_pytest_failure_diagnostics_runner.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Harden diagnostics fail-closed handling for empty junit input
  src/bnsyn/qa/pytest_failure_diagnostics.py
  tests/test_pytest_failure_diagnostics_contract.py
Due: pydocstyle, regenerate-inventory

Allow optional defusedxml import in dependency import validator
  scripts/validate_deps_against_imports.py
Due: pydocstyle, regenerate-repo-manifest

docs(contract): include proof_report in export-proof artifact list
  AGENTS.md
  Makefile
  README.md
  docs/CANONICAL_PROOF.md
  schemas/phase-space-report.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/experiments/emergence.py
  src/bnsyn/experiments/phase_space.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_emergence_pipeline.py
  tests/test_phase_space_analysis.py
  tests/test_phase_space_helpers.py
  tests/test_proof_evaluation.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

chore(ci): regenerate inventory artifacts to clear drift
  INVENTORY.json
  tests_inventory.json
Due: regenerate-inventory

test(coverage): cover phase-space validation branches
  tests/test_phase_space_helpers.py
Due: pydocstyle, regenerate-inventory

Harden proof spine statelessness and validation robustness
  .github/BRANCH_PROTECTION_GOVERNANCE.md
  .github/PR_GATES.yml
  .github/REPO_MANIFEST.md
  .github/REQUIRED_CHECKS.yml
  .github/REQUIRED_STATUS_CONTEXTS.yml
  .github/WORKFLOW_CONTRACTS.md
  .github/workflows/canonical-proof-spine.yml
  AGENTS.md
  INVENTORY.json
  Makefile
  README.md
  ci/envelope_spec.json
  ci/statistical_power_config.json
  ci/validation_gates.json
  docs/CANONICAL_PROOF.md
  docs/REPRODUCIBILITY_ENVELOPE.md
  entropy/baseline.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
  schemas/avalanche-fit-report.schema.json
  schemas/envelope-report.schema.json
  schemas/robustness-report.schema.json
  src/bnsyn/cli.py
  src/bnsyn/experiments/declarative.py
  src/bnsyn/proof/bundle_validator.py
  src/bnsyn/proof/contracts.py
  src/bnsyn/proof/evaluate.py
  tests/test_canonical_live_run.py
  tests/test_cli_plot_contract.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_evaluation.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Regenerate entropy baseline evidence after workflow permissions fix
  entropy/baseline.json
  evidence/entropy_gate/baseline_metrics.json
  evidence/entropy_gate/commands.log
Due: none

chore(entropy): record baseline regeneration command
  evidence/entropy_gate/commands.log
Due: none

fix(governance): restore gate yaml structure and resync manifest
  .github/PR_GATES.yml
  .github/REPO_MANIFEST.md
  .github/REQUIRED_CHECKS.yml
  manifest/repo_manifest.computed.json
  manifest/repo_manifest.yml
Due: regenerate-inventory, regenerate-repo-manifest

fix(ci): resolve mypy contradiction in canonical proof fit typing
  src/bnsyn/experiments/declarative.py
Due: pydocstyle, regenerate-inventory

test(coverage): close proof-spine coverage gap with edge-case unit tests
  tests/test_proof_spine_coverage_edges.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

chore(inventory): regenerate INVENTORY.json after tests update
  INVENTORY.json
Due: regenerate-inventory

test(coverage): harden diagnostics/proof edge branches for baseline stability
  tests/test_pytest_failure_diagnostics_edge_coverage.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

chore(inventory): regenerate inventory to satisfy perfection gate
  INVENTORY.json
Due: regenerate-inventory

fix(ci): remove external actionlint action dependency from workflow-integrity
  .github/workflows/workflow-integrity.yml
Due: regenerate-inventory, regenerate-repo-manifest

fix(ci): align canonical-proof-spine trigger allowlist and pip pinning
  .github/workflows/canonical-proof-spine.yml
  .github/workflows/workflow-integrity.yml
Due: regenerate-inventory, regenerate-repo-manifest

chore(ssot): regenerate manifest outputs to clear repo fingerprint drift
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

ci: pass explicit github token to checkout steps
  .github/workflows/_reusable_quality.yml
  .github/workflows/ci-pr-atomic.yml
Due: regenerate-inventory, regenerate-repo-manifest

chore(ssot): regenerate repo manifest after ci workflow updates
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

Fix local spine blockers for CI safety and install consistency
  .github/workflows/canonical-proof-spine.yml
  Makefile
  README.md
  docs/LEGENDARY_QUICKSTART.md
  docs/QUICKSTART.md
  proof_bundle/logs/agent.log
  pyproject.toml
  scripts/bootstrap_local_linux.sh
  scripts/check_quickstart_consistency.py
  scripts/local_doctor.py
  scripts/run_canonical_local.sh
  src/bnsyn/cli.py
  src/bnsyn/viz/dashboard.py
  src/bnsyn/viz/emergence_plot.py
  tests/test_local_deployment_spine.py
  tests/test_readme_quickstart_contract.py
Due: pydocstyle, validate-pyproject, regenerate-inventory, regenerate-repo-manifest

Regenerate INVENTORY.json to match current repository state
  INVENTORY.json
Due: regenerate-inventory

Regenerate repository manifest fingerprints
  .github/REPO_MANIFEST.md
  manifest/repo_manifest.computed.json
Due: regenerate-inventory, regenerate-repo-manifest

proof: recompute gate metrics from traces and add G9 consistency gate
  ci/validation_gates.json
  schemas/proof-report.schema.json
  src/bnsyn/proof/evaluate.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
Due: pydocstyle, regenerate-inventory

proof: restore numeric gate helper compatibility for edge tests
  src/bnsyn/proof/evaluate.py
Due: pydocstyle, regenerate-inventory

test: expand proof evaluate branch coverage for trace recompute helpers
  tests/test_proof_contracts_and_edges.py
Due: pydocstyle, regenerate-inventory

fix(proof): fix ruff E302/E303, remove 'or' fallback bug, add _parse_g9_metric_policy coverage
  CHANGELOG.md
  INVENTORY.json
  ci/validation_gates.json
  schemas/proof-report.schema.json
  src/bnsyn/proof/evaluate.py
  tests/test_m0_bootstrap_contracts.py
  tests/test_proof_contracts_and_edges.py
  tests/test_proof_evaluation.py
  tests/test_proof_report_schema.py
  tests/test_viz_emergence_plot_unit.py
  tests_inventory.json
Due: pydocstyle, regenerate-inventory

test(viz): skip emergence plot unit tests when matplotlib is unavailable
  tests/test_viz_emergence_plot_unit.py
Due: pydocstyle, regenerate-inventory

fix(proof): recover CI gates by restoring coverage and mypy-safe G9 consistency path
  src/bnsyn/proof/evaluate.py
  tests/test_proof_contracts_and_edges.py
Due: pydocstyle, regenerate-inventory

Neutralize empirical validation metrics and align benchmark contract
  docs/scripts/empirical-validation.md
  docs/scripts/index.md
  proof_bundle/empirical_validation/objective_metrics.json
  proof_bundle/empirical_validation/report.md
  scripts/empirical_validation.py
  tests/test_empirical_validation_script.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Refine empirical validation docs and single-row test coverage
  docs/scripts/index.md
  tests/test_empirical_validation_script.py
Due: pydocstyle, regenerate-inventory

Regenerate INVENTORY.json after empirical validation additions
  INVENTORY.json
Due: regenerate-inventory

Add env-ready stamp for deterministic local .venv workflows
  Makefile
  README.md
  tests/test_readme_quickstart_contract.py
Due: pydocstyle, regenerate-inventory, regenerate-repo-manifest

Use venv cyclonedx executable in sbom target
  Makefile
Due: regenerate-repo-manifest

Align quickstart contract validator with venv TEST_CMD
  scripts/validate_quickstart_contract.py
Due: pydocstyle, regenerate-repo-manifest

Path conditions:
  pydocstyle: any of: \.py$
  validate-pyproject: any of: ^pyproject\.toml$
  regenerate-inventory: any of: ^(src/|tests/|docs/|\.github/|tools/generate_inventory\.py|INVENTORY\.json)
  regenerate-repo-manifest: any of: ^(\.github/|manifest/|quality/|scripts/|tools/manifest/|Makefile|README\.md)
